In [1]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import re

import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style("white")
%matplotlib inline

In [147]:
donations_cohort_with_cycle=pd.read_pickle('donations_cohort_with_cycle.pkl')

In [151]:
donations_cohort_with_cycle.groupby('cohort_gift_pattern').sum()

,lapsed_count,recovered_count,max_consec_giving_years,total_giving_years,count_2013,count_2014,count_2015,count_2016,count_2017,count_yr0,...,amount_05_2017,amount_06_2017,amount_07_2017,amount_08_2017,amount_09_2017,amount_10_2017,amount_11_2017,amount_12_2017,amount_total,count_total
cohort_gift_pattern,,,,,,,,,,,,,,,,,,,,,
"0,",3246751,1698013,1696680,1698013,281367,299265,343664,459121,568128,2160468,...,1513719.92,1346215.27,2430744.12,4660638.35,3614630.25,3381341.86,2653097.34,2732646.05,1.108747e+08,1951545
"0,1,",456484,324471,324008,324471,64778,102879,90901,133044,189491,351927,...,669986.44,470229.87,681269.53,1379156.40,1285395.33,1154510.77,1301913.91,1650338.26,3.663071e+07,581093
"0,1,2,",140611,113307,112917,113307,26461,47280,63866,83705,113547,111393,...,406391.15,286160.91,440258.05,652367.16,609036.92,504306.19,595653.51,820301.07,2.145994e+07,334859
"0,1,2,3,",64826,55642,55124,55642,18753,42483,56392,62173,59272,56260,...,256549.75,169966.88,258912.92,507154.02,413960.30,429247.78,547307.06,651570.56,1.679730e+07,239073
"0,1,2,3,4,",75395,70626,70626,70626,106916,174536,150126,143233,153440,127899,...,540893.94,429600.39,628210.06,1041223.65,976890.30,977064.73,1138716.31,1550895.28,4.428904e+07,728251
"0,1,2,4,",17175,12431,8901,12431,10974,12197,8673,1470,6534,12653,...,26429.85,17497.27,20652.61,47481.46,51619.98,39111.52,63445.55,109491.95,2.361383e+06,39848
"0,1,3,",39132,24601,16268,24601,6848,13560,10706,8209,6029,17694,...,16821.11,15506.57,26961.28,52175.80,48118.31,30767.99,32472.96,69326.56,2.995362e+06,45352
"0,1,3,4,",16037,11830,6200,11830,5221,8010,2292,5243,10504,7792,...,36626.51,28702.58,34569.66,57856.73,68852.78,51097.72,65494.68,135615.08,2.091935e+06,31270
"0,1,4,",14173,9353,5988,9353,6417,6798,1454,1,4562,8262,...,15205.59,9166.41,13938.24,34097.56,29615.97,22492.52,34206.41,44463.84,1.064790e+06,19232
"0,2,",169528,89060,44403,89060,15530,16515,34723,27873,21402,65684,...,76789.17,46094.53,79938.21,176557.45,143274.47,133924.97,105516.31,166366.10,8.371902e+06,116043
"0,2,3,",36196,23059,15252,23059,3985,5281,8063,9764,12396,13189,...,37707.66,31736.40,44243.27,106277.56,85746.62,72370.43,86182.14,118199.36,2.774959e+06,39489
"0,2,3,4,",15573,11546,8811,11546,3968,1997,4913,9020,11418,5965,...,32980.07,48042.76,45116.50,87072.95,69419.96,90822.36,85210.39,125562.24,2.323558e+06,31316
"0,2,4,",11628,6386,2316,6386,2475,1020,2503,943,2766,3495,...,11553.78,6528.53,10794.43,22169.07,15875.74,17098.53,17583.56,27018.08,6.403701e+05,9707
"0,3,",67257,35553,17619,35553,9340,10523,5086,8946,10672,24948,...,26889.27,31551.37,44065.98,90978.56,73092.00,60172.17,57293.52,86806.64,2.791989e+06,44567
"0,3,4",14627,9779,6671,9779,3783,1504,0,4520,12268,5287,...,32824.23,24888.86,33468.51,61380.72,50305.60,59956.83,57649.84,86879.92,1.345960e+06,22075
"0,4,",25746,14326,7414,14326,7167,2760,0,0,8113,9927,...,19725.84,21918.08,33153.07,67162.44,52978.49,53568.97,45914.67,91385.09,1.088018e+06,18040

In [153]:
df4=donations_cohort_with_cycle.query("cohort_gift_pattern == '0,2,4,'")

In [155]:
df4.shape

(2035, 187)

In [154]:
df4.to_csv('df4.csv')

In [148]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(donations_cohort_with_cycle.iloc[41])

id                                     0001107b9faa5c3bb42cfcecece1d587
first_gift_year                                              2013-01-01
lapsed_count                                                          6
recovered_count                                                       6
max_consec_giving_years                                               6
total_giving_years                                                    6
count_2013                                                            7
count_2014                                                           10
count_2015                                                           12
count_2016                                                            8
count_2017                                                            6
count_yr0                                                             7
count_yr1                                                            10
count_yr2                                                            12
count_yr3                                                             8
count_yr4                                                             6
initial                                                               0
first_gift                                                            0
second_year                                                           0
second_with_gap                                                       0
multi_year                                                            0
key_multi_year                                                        1
recovered_multi_year                                                  0
inconsistent_multi_year                                               0
recovered_key_multi_year                                              0
lapsed_after_first                                                    0
lapsed_after_first_long                                               0
lapsed_after_second                                                   0
lapsed_multi_year                                                     0
lapsed_long_multi_year                                                0
lapsed_key_multi_year                                                 0
lapsed_long                                                           0
cohort_0_first_gift                                                   1
cohort_1_lapsed_after_first                                           0
cohort_1_second_year                                                  1
cohort_2_lapsed_after_first_long                                      0
cohort_2_lapsed_after_second                                          0
cohort_2_multi_year                                                   1
cohort_2_second_with_gap                                              0
cohort_3_first_gift                                                   0
cohort_3_inconsistent_multi_year                                      0
cohort_3_key_multi_year                                               1
cohort_3_lapsed_after_second                                          0
cohort_3_lapsed_long                                                  0
cohort_3_lapsed_multi_year                                            0
cohort_4_first_gift                                                   0
cohort_4_inconsistent_multi_year                                      0
cohort_4_key_multi_year                                               1
cohort_4_lapsed_after_first                                           0
cohort_4_lapsed_key_multi_year                                        0
cohort_4_lapsed_long                                                  0
cohort_4_lapsed_long_multi_year                                       0
cohort_4_lapsed_multi_year                                            0
cohort_4_multi_year                                                   0
cohort_4_recovered_multi_year                                         0
cohort_4_second_year                                                  0
cohort_5_first_gift                                                   0
cohort_5_inconsistent_multi_year                                      0
cohort_5_key_multi_year                                               1
cohort_5_lapsed_after_first                                           0
cohort_5_lapsed_after_first_long                                      0
cohort_5_lapsed_after_second                                          0
cohort_5_lapsed_key_multi_year                                        0
cohort_5_lapsed_long                                                  0
cohort_5_lapsed_long_key_multi_year                                   0
cohort_5_lapsed_long_multi_year                                       0
cohort_5_lapsed_multi_year                                            0
cohort_5_multi_year                                                   0
cohort_5_recovered_key_multi_year                                     0
cohort_5_recovered_multi_year                                         0
cohort_5_second_with_gap                                              0
cohort_5_second_year                                                  0
cohort_6_first_gift                                                   0
cohort_6_key_multi_year                                               0
cohort_6_lapsed_after_first                                           0
cohort_6_lapsed_after_first_long                                      0
cohort_6_lapsed_after_second                                          0
cohort_6_lapsed_key_multi_year                                        0
cohort_6_lapsed_long                                                  0
cohort_6_lapsed_long_key_multi_year                                   0
cohort_6_lapsed_long_multi_year                                       0
cohort_6_multi_year                                                 NaN
lapsed_amount                                                         0
recovered_amount                                                      0
amount_2013                                                         125
amount_2014                                                         175
amount_2015                                                         240
amount_2016                                                         195
amount_2017                                                         160
lapsed_amount_2013                                                    0
lapsed_amount_2014                                                    0
lapsed_amount_2015                                                    0
lapsed_amount_2016                                                    0
lapsed_amount_2017                                                    0
upgraded_amount_2013                                                  0
upgraded_amount_2014                                                 50
upgraded_amount_2015                                                 65
upgraded_amount_2016                                                  0
upgraded_amount_2017                                                  0
downgraded_amount_2013                                                0
downgraded_amount_2014                                                0
downgraded_amount_2015                                                0
downgraded_amount_2016                                               45
downgraded_amount_2017                                               35
amount_yr0                                                          125
amount_yr1                                                          175
amount_yr2                                                          240
amount_yr3                                                          195
amount_yr4                                                          160
lapsed_amount_yr0                                                     0
lapsed_amount_yr1                                                     0
lapsed_amount_yr2                                                     0
lapsed_amount_yr3                                                     0
lapsed_amount_yr4                                                     0
upgraded_amount_yr0                                                   0
upgraded_amount_yr1                                                  50
upgraded_amount_yr2                                                  65
upgraded_amount_yr3                                                   0
upgraded_amount_yr4                                                   0
downgraded_amount_yr0                                                 0
downgraded_amount_yr1                                                 0
downgraded_amount_yr2                                                 0
downgraded_amount_yr3                                                45
downgraded_amount_yr4                                                35
amount_01_2013                                                        0
amount_02_2013                                                        0
amount_03_2013                                                        0
amount_04_2013                                                        0
amount_05_2013                                                        0
amount_06_2013                                                       50
amount_07_2013                                                        0
amount_08_2013                                                        0
amount_09_2013                                                       45
amount_10_2013                                                        0
amount_11_2013                                                        0
amount_12_2013                                                       30
amount_01_2014                                                        0
amount_02_2014                                                        0
amount_03_2014                                                       50
amount_04_2014                                                       25
amount_05_2014                                                        0
amount_06_2014                                                       25
amount_07_2014                                                        0
amount_08_2014                                                       65
amount_09_2014                                                       10
amount_10_2014                                                        0
amount_11_2014                                                        0
amount_12_2014                                                        0
amount_01_2015                                                        0
amount_02_2015                                                       50
amount_03_2015                                                        0
amount_04_2015                                                        0
amount_05_2015                                                       50
amount_06_2015                                                        0
amount_07_2015                                                       50
amount_08_2015                                                       50
amount_09_2015                                                       40
amount_10_2015                                                        0
amount_11_2015                                                        0
amount_12_2015                                                        0
amount_01_2016                                                        0
amount_02_2016                                                        0
amount_03_2016                                                       50
amount_04_2016                                                        0
amount_05_2016                                                       15
amount_06_2016                                                        0
amount_07_2016                                                        0
amount_08_2016                                                       70
amount_09_2016                                                       10
amount_10_2016                                                       50
amount_11_2016                                                        0
amount_12_2016                                                        0
amount_01_2017                                                        0
amount_02_2017                                                        0
amount_03_2017                                                        0
amount_04_2017                                                        0
amount_05_2017                                                       75
amount_06_2017                                                        0
amount_07_2017                                                       25
amount_08_2017                                                        0
amount_09_2017                                                       10
amount_10_2017                                                       30
amount_11_2017                                                       20
amount_12_2017                                                        0
amount_total                                                        895
count_total                                                          43
cohort_gift_pattern                                          0,1,2,3,4,
Name: 41, dtype: object

In [4]:
for col in donations_cohort_with_cycle.columns:
    print(col)

id
first_gift_year
lapsed_count
recovered_count
max_consec_giving_years
total_giving_years
count_2013
count_2014
count_2015
count_2016
count_2017
count_yr0
count_yr1
count_yr2
count_yr3
count_yr4
initial
first_gift
second_year
second_with_gap
multi_year
key_multi_year
recovered_multi_year
inconsistent_multi_year
recovered_key_multi_year
lapsed_after_first
lapsed_after_first_long
lapsed_after_second
lapsed_multi_year
lapsed_long_multi_year
lapsed_key_multi_year
lapsed_long
cohort_0_first_gift
cohort_1_lapsed_after_first
cohort_1_second_year
cohort_2_lapsed_after_first_long
cohort_2_lapsed_after_second
cohort_2_multi_year
cohort_2_second_with_gap
cohort_3_first_gift
cohort_3_inconsistent_multi_year
cohort_3_key_multi_year
cohort_3_lapsed_after_second
cohort_3_lapsed_long
cohort_3_lapsed_multi_year
cohort_4_first_gift
cohort_4_inconsistent_multi_year
cohort_4_key_multi_year
cohort_4_lapsed_after_first
cohort_4_lapsed_key_multi_year
cohort_4_lapsed_long
cohort_4_lapsed_long_multi_year
cohort_4_lapsed_multi_year
cohort_4_multi_year
cohort_4_recovered_multi_year
cohort_4_second_year
cohort_5_first_gift
cohort_5_inconsistent_multi_year
cohort_5_key_multi_year
cohort_5_lapsed_after_first
cohort_5_lapsed_after_first_long
cohort_5_lapsed_after_second
cohort_5_lapsed_key_multi_year
cohort_5_lapsed_long
cohort_5_lapsed_long_key_multi_year
cohort_5_lapsed_long_multi_year
cohort_5_lapsed_multi_year
cohort_5_multi_year
cohort_5_recovered_key_multi_year
cohort_5_recovered_multi_year
cohort_5_second_with_gap
cohort_5_second_year
cohort_6_first_gift
cohort_6_key_multi_year
cohort_6_lapsed_after_first
cohort_6_lapsed_after_first_long
cohort_6_lapsed_after_second
cohort_6_lapsed_key_multi_year
cohort_6_lapsed_long
cohort_6_lapsed_long_key_multi_year
cohort_6_lapsed_long_multi_year
cohort_6_multi_year
lapsed_amount
recovered_amount
amount_2013
amount_2014
amount_2015
amount_2016
amount_2017
lapsed_amount_2013
lapsed_amount_2014
lapsed_amount_2015
lapsed_amount_2016
lapsed_amount_2017
upgraded_amount_2013
upgraded_amount_2014
upgraded_amount_2015
upgraded_amount_2016
upgraded_amount_2017
downgraded_amount_2013
downgraded_amount_2014
downgraded_amount_2015
downgraded_amount_2016
downgraded_amount_2017
amount_yr0
amount_yr1
amount_yr2
amount_yr3
amount_yr4
lapsed_amount_yr0
lapsed_amount_yr1
lapsed_amount_yr2
lapsed_amount_yr3
lapsed_amount_yr4
upgraded_amount_yr0
upgraded_amount_yr1
upgraded_amount_yr2
upgraded_amount_yr3
upgraded_amount_yr4
downgraded_amount_yr0
downgraded_amount_yr1
downgraded_amount_yr2
downgraded_amount_yr3
downgraded_amount_yr4
amount_01_2013
amount_02_2013
amount_03_2013
amount_04_2013
amount_05_2013
amount_06_2013
amount_07_2013
amount_08_2013
amount_09_2013
amount_10_2013
amount_11_2013
amount_12_2013
amount_01_2014
amount_02_2014
amount_03_2014
amount_04_2014
amount_05_2014
amount_06_2014
amount_07_2014
amount_08_2014
amount_09_2014
amount_10_2014
amount_11_2014
amount_12_2014
amount_01_2015
amount_02_2015
amount_03_2015
amount_04_2015
amount_05_2015
amount_06_2015
amount_07_2015
amount_08_2015
amount_09_2015
amount_10_2015
amount_11_2015
amount_12_2015
amount_01_2016
amount_02_2016
amount_03_2016
amount_04_2016
amount_05_2016
amount_06_2016
amount_07_2016
amount_08_2016
amount_09_2016
amount_10_2016
amount_11_2016
amount_12_2016
amount_01_2017
amount_02_2017
amount_03_2017
amount_04_2017
amount_05_2017
amount_06_2017
amount_07_2017
amount_08_2017
amount_09_2017
amount_10_2017
amount_11_2017
amount_12_2017
amount_total
count_total

In [108]:
donations_cohort_with_cycle.groupby('first_gift_year').sum()['amount_yr1']

first_gift_year
2012-01-01       16421.14
2013-01-01    15267703.98
2014-01-01     7745897.26
2015-01-01     8280549.87
2016-01-01    10475760.27
2017-01-01     4549913.20
2018-01-01           0.00
Name: amount_yr1, dtype: float64

In [157]:
donations_cohort_with_cycle.query('cohort_3_first_gift > 0').cohort_gift_pattern.value_counts()

0,3,     17619
0,3,4     3108
Name: cohort_gift_pattern, dtype: int64

In [167]:
print(f'cohort_1_lapsed_after_first: ', donations_cohort_with_cycle.query('cohort_1_lapsed_after_first > 0').cohort_gift_pattern.value_counts())
print(f'cohort_1_second_year: ', donations_cohort_with_cycle.query('cohort_1_second_year > 0').cohort_gift_pattern.value_counts())

cohort_1_lapsed_after_first:  0,          1548735
0,2,          44403
0,3,          17619
0,2,3,         7626
0,4,           6912
0,3,4          3108
0,2,3,4,       2735
0,2,4,         2035
Name: cohort_gift_pattern, dtype: int64
cohort_1_second_year:  0,1,          162004
0,1,2,         37639
0,1,2,3,       13781
0,1,2,3,4,     13102
0,1,3,          8134
0,1,4,          2994
0,1,2,4,        2967
0,1,3,4,        2815
Name: cohort_gift_pattern, dtype: int64

In [166]:

print(f'cohort_2_lapsed_after_first_long: ', donations_cohort_with_cycle.query('cohort_2_lapsed_after_first_long > 0').cohort_gift_pattern.value_counts())
print(f'cohort_2_lapsed_after_second: ', donations_cohort_with_cycle.query('cohort_2_lapsed_after_second > 0').cohort_gift_pattern.value_counts())
print(f'cohort_2_multi_year: ', donations_cohort_with_cycle.query('cohort_2_multi_year > 0').cohort_gift_pattern.value_counts())
print(f'cohort_2_second_with_gap: ', donations_cohort_with_cycle.query('cohort_2_second_with_gap > 0').cohort_gift_pattern.value_counts())

cohort_2_lapsed_after_first_long:  0,       1143733
0,3,       17619
0,4,        6912
0,3,4       3108
Name: cohort_gift_pattern, dtype: int64
cohort_2_lapsed_after_second:  0,1,        132013
0,1,3,        8134
0,1,4,        2994
0,1,3,4,      2815
Name: cohort_gift_pattern, dtype: int64
cohort_2_multi_year:  0,1,2,        37639
0,1,2,3,      13781
0,1,2,3,4,    13102
0,1,2,4,       2967
Name: cohort_gift_pattern, dtype: int64
cohort_2_second_with_gap:  0,2,        44403
0,2,3,       7626
0,2,3,4,     2735
0,2,4,       2035
Name: cohort_gift_pattern, dtype: int64

In [165]:
print(f'cohort_3_first_gift: ', donations_cohort_with_cycle.query('cohort_3_first_gift > 0').cohort_gift_pattern.value_counts())
print(f'cohort_3_inconsistent_multi_year: ', donations_cohort_with_cycle.query('cohort_3_inconsistent_multi_year > 0').cohort_gift_pattern.value_counts())
print(f'cohort_3_key_multi_year: ', donations_cohort_with_cycle.query('cohort_3_key_multi_year > 0').cohort_gift_pattern.value_counts())

print(f'cohort_4_lapsed_after_second: ', donations_cohort_with_cycle.query('cohort_3_lapsed_after_second > 0').cohort_gift_pattern.value_counts())
print(f'cohort_4_lapsed_long: ', donations_cohort_with_cycle.query('cohort_3_lapsed_long > 0').cohort_gift_pattern.value_counts())

print(f'cohort_4_lapsed_multi_year: ', donations_cohort_with_cycle.query('cohort_3_lapsed_multi_year > 0').cohort_gift_pattern.value_counts())

cohort_3_first_gift:  0,3,     17619
0,3,4     3108
Name: cohort_gift_pattern, dtype: int64
cohort_3_inconsistent_multi_year:  0,1,3,      8134
0,2,3,      7626
0,1,3,4,    2815
0,2,3,4,    2735
Name: cohort_gift_pattern, dtype: int64
cohort_3_key_multi_year:  0,1,2,3,      13781
0,1,2,3,4,    13102
Name: cohort_gift_pattern, dtype: int64
cohort_4_lapsed_after_second:  0,2,      36065
0,2,4,     2035
Name: cohort_gift_pattern, dtype: int64
cohort_4_lapsed_long:  0,        763012
0,1,       85811
0,4,        6912
0,1,4,      2994
Name: cohort_gift_pattern, dtype: int64
cohort_4_lapsed_multi_year:  0,1,2,      27304
0,1,2,4,     2967
Name: cohort_gift_pattern, dtype: int64

In [164]:
print(f'cohort_4_first_gift: ', donations_cohort_with_cycle.query('cohort_4_first_gift > 0').cohort_gift_pattern.value_counts())
print(f'cohort_4_inconsistent_multi_year: ', donations_cohort_with_cycle.query('cohort_4_inconsistent_multi_year > 0').cohort_gift_pattern.value_counts())
print(f'cohort_4_key_multi_year: ', donations_cohort_with_cycle.query('cohort_4_key_multi_year > 0').cohort_gift_pattern.value_counts())

print(f'cohort_4_lapsed_after_first: ', donations_cohort_with_cycle.query('cohort_4_lapsed_after_first > 0').cohort_gift_pattern.value_counts())
print(f'cohort_4_lapsed_key_multi_year: ', donations_cohort_with_cycle.query('cohort_4_lapsed_key_multi_year > 0').cohort_gift_pattern.value_counts())
print(f'cohort_4_lapsed_long: ', donations_cohort_with_cycle.query('cohort_4_lapsed_long > 0').cohort_gift_pattern.value_counts())
print(f'cohort_4_lapsed_long_multi_year: ', donations_cohort_with_cycle.query('cohort_4_lapsed_long_multi_year > 0').cohort_gift_pattern.value_counts())

print(f'cohort_4_lapsed_multi_year: ', donations_cohort_with_cycle.query('cohort_4_lapsed_multi_year > 0').cohort_gift_pattern.value_counts())
print(f'cohort_4_multi_year: ', donations_cohort_with_cycle.query('cohort_4_multi_year > 0').cohort_gift_pattern.value_counts())
print(f'cohort_4_recovered_multi_year: ', donations_cohort_with_cycle.query('cohort_4_recovered_multi_year > 0').cohort_gift_pattern.value_counts())
print(f'cohort_4_second_year: ', donations_cohort_with_cycle.query('cohort_4_second_year > 0').cohort_gift_pattern.value_counts())

cohort_4_first_gift:  0,4,      6912
0,1,4,    2994
Name: cohort_gift_pattern, dtype: int64
cohort_4_inconsistent_multi_year:  0,2,4,    2035
Name: cohort_gift_pattern, dtype: int64
cohort_4_key_multi_year:  0,1,2,3,4,    13102
Name: cohort_gift_pattern, dtype: int64
cohort_4_lapsed_after_first:  0,3,    14084
Name: cohort_gift_pattern, dtype: int64
cohort_4_lapsed_key_multi_year:  0,1,2,3,    9184
Name: cohort_gift_pattern, dtype: int64
cohort_4_lapsed_long:  0,      474008
0,1,     56793
0,2,     21660
Name: cohort_gift_pattern, dtype: int64
cohort_4_lapsed_long_multi_year:  0,1,2,    16578
Name: cohort_gift_pattern, dtype: int64
cohort_4_lapsed_multi_year:  0,1,3,    6397
0,2,3,    5511
Name: cohort_gift_pattern, dtype: int64
cohort_4_multi_year:  0,1,3,4,    2815
0,2,3,4,    2735
Name: cohort_gift_pattern, dtype: int64
cohort_4_recovered_multi_year:  0,1,2,4,    2967
Name: cohort_gift_pattern, dtype: int64
cohort_4_second_year:  0,3,4    3108
Name: cohort_gift_pattern, dtype: int64

In [77]:
c13=donations_cohort_with_cycle.query('first_gift_year =="2013-01-01"')

In [79]:
c13.cohort_0_first_gift.sum()

320069

In [83]:
c13.cohort_1_second_year.sum()/c13.cohort_0_first_gift.sum()*100

19.411439408377568

In [84]:
df=donations_cohort_with_cycle[[
'id',
'first_gift_year',
'initial',
'first_gift',
'second_year',
'second_with_gap',
'multi_year',
'key_multi_year',
'recovered_multi_year',
'inconsistent_multi_year ',
'recovered_key_multi_year',
'lapsed_after_first',
'lapsed_after_first_long',
'lapsed_after_second',
'lapsed_multi_year',
'lapsed_long_multi_year',
'lapsed_key_multi_year',
'lapsed_long',
'cohort_0_first_gift',
'cohort_1_lapsed_after_first',
'cohort_1_second_year',
'cohort_2_lapsed_after_first_long',
'cohort_2_lapsed_after_second',
'cohort_2_multi_year',
'cohort_2_second_with_gap',
'cohort_3_first_gift',
'cohort_3_inconsistent_multi_year',
'cohort_3_key_multi_year',
'cohort_3_lapsed_after_second',
'cohort_3_lapsed_long',
'cohort_3_lapsed_multi_year',
'cohort_4_first_gift',
'cohort_4_inconsistent_multi_year',
'cohort_4_key_multi_year',
'cohort_4_lapsed_after_first',
'cohort_4_lapsed_key_multi_year',
'cohort_4_lapsed_long',
'cohort_4_lapsed_long_multi_year',
'cohort_4_lapsed_multi_year',
'cohort_4_multi_year',
'cohort_4_recovered_multi_year',
'cohort_4_second_year',
'cohort_5_first_gift',
'cohort_5_inconsistent_multi_year',
'cohort_5_key_multi_year',
'cohort_5_lapsed_after_first',
'cohort_5_lapsed_after_first_long',
'cohort_5_lapsed_after_second',
'cohort_5_lapsed_key_multi_year',
'cohort_5_lapsed_long',
'cohort_5_lapsed_long_key_multi_year',
'cohort_5_lapsed_long_multi_year',
'cohort_5_lapsed_multi_year',
'cohort_5_multi_year',
'cohort_5_recovered_key_multi_year',
'cohort_5_recovered_multi_year',
'cohort_5_second_with_gap',
'cohort_5_second_year',
'cohort_6_first_gift',
'cohort_6_key_multi_year',
'cohort_6_lapsed_after_first',
'cohort_6_lapsed_after_first_long',
'cohort_6_lapsed_after_second',
'cohort_6_lapsed_key_multi_year',
'cohort_6_lapsed_long',
'cohort_6_lapsed_long_key_multi_year',
'cohort_6_lapsed_long_multi_year',
'cohort_6_multi_year'
]].copy()

In [85]:
df.head()

,id,first_gift_year,initial,first_gift,second_year,second_with_gap,multi_year,key_multi_year,recovered_multi_year,inconsistent_multi_year,...,cohort_6_first_gift,cohort_6_key_multi_year,cohort_6_lapsed_after_first,cohort_6_lapsed_after_first_long,cohort_6_lapsed_after_second,cohort_6_lapsed_key_multi_year,cohort_6_lapsed_long,cohort_6_lapsed_long_key_multi_year,cohort_6_lapsed_long_multi_year,cohort_6_multi_year
0,00000ce845c00cbf0686c992fc369df4,2013-01-01,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
1,00002783bc5d108510f3f9666c8b1edd,2016-01-01,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
2,00002d44003ed46b066607c5455a999a,2016-01-01,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
3,00002eb25d60a09c318efbd0797bffb5,2015-01-01,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,NaN
4,0000300773fe015f870914b42528541b,2017-01-01,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [69]:
df1 = df[(df > 1).any(axis=1)]

In [70]:
df1

,amount_yr4,initial,first_gift,second_year,second_with_gap,multi_year,key_multi_year,recovered_multi_year,inconsistent_multi_year,recovered_key_multi_year,...,cohort_6_first_gift,cohort_6_key_multi_year,cohort_6_lapsed_after_first,cohort_6_lapsed_after_first_long,cohort_6_lapsed_after_second,cohort_6_lapsed_key_multi_year,cohort_6_lapsed_long,cohort_6_lapsed_long_key_multi_year,cohort_6_lapsed_long_multi_year,cohort_6_multi_year
41,160.00,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
95,2.00,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
107,1139.59,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
177,25.00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
320,139.00,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024118,50.00,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
2024325,25.00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
2024346,305.00,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
2024357,99.00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
2024419,50.00,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0

### Start here

In [87]:
grouped=df.groupby('first_gift_year').sum().reset_index()

In [107]:
grouped

,first_gift_year,initial,first_gift,second_year,second_with_gap,multi_year,key_multi_year,recovered_multi_year,inconsistent_multi_year,recovered_key_multi_year,...,cohort_6_first_gift,cohort_6_key_multi_year,cohort_6_lapsed_after_first,cohort_6_lapsed_after_first_long,cohort_6_lapsed_after_second,cohort_6_lapsed_key_multi_year,cohort_6_lapsed_long,cohort_6_lapsed_long_key_multi_year,cohort_6_lapsed_long_multi_year,cohort_6_multi_year
0,2012-01-01,0,1,0,0,1,1,0,0,0,...,1,1,3,1,1,2,121,1,9,1.0
1,2013-01-01,0,2436,873,314,736,6288,380,561,518,...,0,0,0,0,0,0,0,0,0,0.0
2,2014-01-01,0,2699,913,0,1690,3220,628,582,0,...,0,0,0,0,0,0,0,0,0,0.0
3,2015-01-01,0,3535,0,0,0,4597,0,3852,0,...,0,0,0,0,0,0,0,0,0,0.0
4,2016-01-01,0,0,1,8338,10335,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
5,2017-01-01,0,0,29990,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
6,2018-01-01,0,147945,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0

In [127]:
# here is the sql query I ran 

# select
# first_gift_year,

#sum(lifecycle_cohort_0_first_gift) as first_gift_cnt,
first_gift_cnt=grouped.cohort_0_first_gift

# sum(lifecycle_cohort_1_second_year)   as second_year_cnt,
second_year_cnt=grouped.cohort_1_second_year

# sum(lifecycle_cohort_2_lapsed_after_second)   as lapsed_after_second_cnt,
lapsed_after_second_cnt=grouped.cohort_2_lapsed_after_second

# sum(lifecycle_cohort_2_second_with_gap)   as second_with_gap_cnt,
second_with_gap_cnt=grouped.cohort_2_second_with_gap

# sum(lifecycle_cohort_2_lapsed_after_first_long)   as lapsed_after_first_long_cnt
lapsed_after_first_long_cnt=grouped.cohort_2_lapsed_after_first_long

# sum(lifecycle_cohort_2_multi_year)   as multi_year_cnt,
multi_year_cnt=grouped.cohort_2_multi_year


# ((sum(lifecycle_cohort_1_second_year * 1.0) ) / 
#  (sum(lifecycle_cohort_0_first_gift  * 1.0))) * 100.0 as second_year,
second_year=second_year_cnt/first_gift_cnt*100

# ((sum(lifecycle_cohort_1_second_year * cohort_amount_in_year_in_1) ) / 
#  (sum(lifecycle_cohort_1_second_year  * 1.0))) / 100.0 as second_year_avg,
second_year_avg=second_year_cnt*(donations_cohort_with_cycle.groupby('first_gift_year').sum()['amount_yr1'].reset_index()['amount_yr1'])/second_year_cnt/100

# ((sum(lifecycle_cohort_1_lapsed_after_first * 1.0) ) / 
#  (sum(lifecycle_cohort_0_first_gift  * 1.0))) * 100.0 as lapsed_after_first,
lapsed_after_first=grouped.cohort_1_lapsed_after_first/first_gift_cnt*100

# ((sum(lifecycle_cohort_2_multi_year * 1.0) ) / 
#  (sum(lifecycle_cohort_1_second_year  * 1.0))) * 100.0 as multi_year,
multi_year=grouped.cohort_2_multi_year/second_year_cnt*100


# ((sum(lifecycle_cohort_2_multi_year * cohort_amount_in_year_in_2) ) / 
#  (sum(lifecycle_cohort_2_multi_year  * 1.0))) / 100.0 as multi_year_avg,
multi_year_avg=multi_year_cnt*(donations_cohort_with_cycle.groupby('first_gift_year').sum()['amount_yr2'].reset_index()['amount_yr2'])/multi_year_cnt/100


# ((sum(lifecycle_cohort_2_lapsed_after_second * 1.0) ) / 
#  (sum(lifecycle_cohort_1_second_year  * 1.0))) * 100.0 as lapsed_after_second,
lapsed_after_second=lapsed_after_second_cnt/second_year_cnt*100

# ((sum(lifecycle_cohort_2_second_with_gap * 1.0) ) / 
#  (sum(lifecycle_cohort_1_lapsed_after_first  * 1.0))) * 100.0 as second_with_gap,
second_with_gap=second_with_gap_cnt/grouped.cohort_1_lapsed_after_first*100



#OK above except amount

# ((sum(lifecycle_cohort_2_second_with_gap * cohort_amount_in_year_in_2) ) / 
#  (sum(lifecycle_cohort_2_second_with_gap  * 1.0))) / 100.0 as second_with_gap_avg,
second_with_gap_avg=second_with_gap_cnt*(donations_cohort_with_cycle.groupby('first_gift_year').sum()['amount_yr2'].reset_index()['amount_yr2'])/second_with_gap_cnt/100

# ((sum(lifecycle_cohort_2_lapsed_after_first_long * 1.0) ) / 
#  (sum(lifecycle_cohort_1_lapsed_after_first  * 1.0))) * 100.0 as lapsed_after_first_long,
lapsed_after_first_long=lapsed_after_first_long_cnt/grouped.cohort_1_lapsed_after_first*100



# from donationslifecycles
# group by first_gift_year

# which gives the attached csv which should show some of the power we can get in sql

In [93]:
second_year=grouped.cohort_1_second_year/grouped.cohort_0_first_gift*100

In [ ]:
second_year_count=grouped.cohort_1_second_year

In [ ]:
lapsed_after_first

In [125]:
donations_cohort_with_cycle.groupby('first_gift_year').sum()['amount_yr1'].reset_index()['amount_yr1']

0       16421.14
1    15267703.98
2     7745897.26
3     8280549.87
4    10475760.27
5     4549913.20
6           0.00
Name: amount_yr1, dtype: float64

In [121]:
multi_year

0    36.363636
1    41.976501
2    32.340189
3    33.254482
4    18.279741
5     0.000000
6          NaN
dtype: float64

In [ ]:
multi_year_cnt

In [ ]:
lapsed_after_second_cnt

In [ ]:
second_with_gap

In [ ]:
second_with_gap_cnt

In [ ]:
second_with_gap_avg

In [ ]:
lapsed_after_first_long

In [ ]:
lapsed_after_first_long_cnt

In [128]:
data = {
    'cohort_year':grouped.first_gift_year,
    'first_gift_cnt':first_gift_cnt,
    'second_year':second_year,
'second_year_cnt':second_year_cnt,
'second_year_avg':second_year_avg,
'lapsed_after_first':lapsed_after_first,
'multi_year':multi_year,
'multi_year_cnt':multi_year_cnt,
'multi_year_avg':multi_year_avg,
'lapsed_after_second':lapsed_after_second,
'lapsed_after_second_cnt':lapsed_after_second_cnt,
'second_with_gap':second_with_gap,
'second_with_gap_cnt':second_with_gap_cnt,
'second_with_gap_avg':second_with_gap_avg,
'lapsed_after_first_long':lapsed_after_first_long,
'lapsed_after_first_long_cnt':lapsed_after_first_long_cnt
}

In [129]:
data

{'cohort_year': 0    2012-01-01
 1    2013-01-01
 2    2014-01-01
 3    2015-01-01
 4    2016-01-01
 5    2017-01-01
 6    2018-01-01
 Name: first_gift_year, dtype: object, 'first_gift_cnt': 0       141
 1    320069
 2    320673
 3    355137
 4    445598
 5    434991
 6    147945
 Name: cohort_0_first_gift, dtype: int64, 'second_year': 0    23.404255
 1    19.411439
 2    15.176519
 3    12.974711
 4    12.688118
 5     6.894396
 6     0.000000
 dtype: float64, 'second_year_cnt': 0       33
 1    62130
 2    48667
 3    46078
 4    56538
 5    29990
 6        0
 Name: cohort_1_second_year, dtype: int64, 'second_year_avg': 0       164.2114
 1    152677.0398
 2     77458.9726
 3     82805.4987
 4    104757.6027
 5     45499.1320
 6            NaN
 dtype: float64, 'lapsed_after_first': 0    76.595745
 1    80.588561
 2    84.823481
 3    87.025289
 4    87.311882
 5    93.105604
 6     0.000000
 dtype: float64, 'multi_year': 0    36.363636
 1    41.976501
 2    32.340189
 3    33.254482
 4    18.279741
 5     0.000000
 6          NaN
 dtype: float64, 'multi_year_cnt': 0       12
 1    26080
 2    15739
 3    15323
 4    10335
 5        0
 6        0
 Name: cohort_2_multi_year, dtype: int64, 'multi_year_avg': 0       192.3141
 1    125873.0739
 2     64377.0877
 3     74441.4563
 4     28855.4002
 5            NaN
 6            NaN
 dtype: float64, 'lapsed_after_second': 0    63.636364
 1    58.023499
 2    67.659811
 3    66.745518
 4    81.718490
 5     0.000000
 6          NaN
 dtype: float64, 'lapsed_after_second_cnt': 0       21
 1    36050
 2    32928
 3    30755
 4    46202
 5        0
 6        0
 Name: cohort_2_lapsed_after_second, dtype: int64, 'second_with_gap': 0    1.851852
 1    6.262333
 2    5.803548
 3    5.345258
 4    2.143114
 5    0.000000
 6         NaN
 dtype: float64, 'second_with_gap_cnt': 0        2
 1    16153
 2    15786
 3    16520
 4     8338
 5        0
 6        0
 Name: cohort_2_second_with_gap, dtype: int64, 'second_with_gap_avg': 0       192.3141
 1    125873.0739
 2     64377.0877
 3     74441.4563
 4     28855.4002
 5            NaN
 6            NaN
 dtype: float64, 'lapsed_after_first_long': 0    98.148148
 1    93.737667
 2    94.196452
 3    94.654742
 4    97.856629
 5     0.000000
 6          NaN
 dtype: float64, 'lapsed_after_first_long_cnt': 0       106
 1    241786
 2    256220
 3    292539
 4    380721
 5         0
 6         0
 Name: cohort_2_lapsed_after_first_long, dtype: int64}

In [130]:
df3 = pd.DataFrame(data)

In [131]:
df3

,cohort_year,first_gift_cnt,second_year,second_year_cnt,second_year_avg,lapsed_after_first,multi_year,multi_year_cnt,multi_year_avg,lapsed_after_second,lapsed_after_second_cnt,second_with_gap,second_with_gap_cnt,second_with_gap_avg,lapsed_after_first_long,lapsed_after_first_long_cnt
0,2012-01-01,141,23.404255,33,164.2114,76.595745,36.363636,12,192.3141,63.636364,21,1.851852,2,192.3141,98.148148,106
1,2013-01-01,320069,19.411439,62130,152677.0398,80.588561,41.976501,26080,125873.0739,58.023499,36050,6.262333,16153,125873.0739,93.737667,241786
2,2014-01-01,320673,15.176519,48667,77458.9726,84.823481,32.340189,15739,64377.0877,67.659811,32928,5.803548,15786,64377.0877,94.196452,256220
3,2015-01-01,355137,12.974711,46078,82805.4987,87.025289,33.254482,15323,74441.4563,66.745518,30755,5.345258,16520,74441.4563,94.654742,292539
4,2016-01-01,445598,12.688118,56538,104757.6027,87.311882,18.279741,10335,28855.4002,81.718490,46202,2.143114,8338,28855.4002,97.856629,380721
5,2017-01-01,434991,6.894396,29990,45499.1320,93.105604,0.000000,0,NaN,0.000000,0,0.000000,0,NaN,0.000000,0
6,2018-01-01,147945,0.000000,0,NaN,0.000000,NaN,0,NaN,NaN,0,NaN,0,NaN,NaN,0

In [132]:
df3.to_csv('df3.csv')

In [ ]:
grouped.cohort_1_second_year

In [17]:
donations_cohort_with_cycle.groupby('first_gift_year').agg(
    {'first_gift', 'second_year': "sum",  # get the count of networks
    }
)
df.groupby('Category').agg({'Item':'size','shop1':['sum','mean','std'],'shop2':['sum','mean','std'],'shop3':['sum','mean','std']})

SyntaxError: invalid syntax (<ipython-input-17-e2a269811057>, line 5)

In [ ]:
def filter_func(x):
    return x['data2'].std() > 4