In [1]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import re

import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style("white")
%matplotlib inline

In [6]:
donations_13to17=pd.read_pickle('donations_13to17.pkl')

In [7]:
donations_13to17.head()

,id,first_gift_year,lapsed_count,recovered_count,max_consec_giving_years,total_giving_years,count_2013,count_2014,count_2015,count_2016,...,behavior_2017,gainloss_2013,gainloss_2014,gainloss_2015,gainloss_2016,gainloss_2017,gainloss_2014_amt,gainloss_2015_amt,gainloss_2016_amt,gainloss_2017_amt
0,1f4b5b6e68445c6c4a0509b3aca93f38,2015-01-01,4,4,4,4,0,0,42,64,...,upgrade,none,none,gain,gain,gain,0.0,18211.38,21873.77,22559.83
1,4aaab6d244bf3599682239ed5591af8a,2016-01-01,2,1,1,1,0,0,0,1,...,lapse_new,none,none,none,gain,loss,0.0,0.00,25.00,-25.00
2,0b0765dc9c759adc48a07688ba25e94e,2015-01-01,3,2,2,2,0,0,2,2,...,lapse_repeat,none,none,gain,gain,loss,0.0,20.00,20.00,-40.00
3,377944ad61f72d800b25ec1862aec363,2016-01-01,2,1,1,1,0,0,0,1,...,lapse_new,none,none,none,gain,loss,0.0,0.00,25.00,-25.00
4,6d5b22d39e68c656071a842732c63a0c,2015-01-01,4,3,2,3,0,0,1,1,...,lapse_repeat,none,none,gain,loss,loss,0.0,70.00,-45.00,-25.00

In [49]:
donations_13to17.columns.tolist()

['id',
 'first_gift_year',
 'lapsed_count',
 'recovered_count',
 'max_consec_giving_years',
 'total_giving_years',
 'count_2013',
 'count_2014',
 'count_2015',
 'count_2016',
 'count_2017',
 'count_yr0_x',
 'count_yr1_x',
 'count_yr2_x',
 'count_yr3_x',
 'count_yr4_x',
 'lapsed_amount',
 'recovered_amount',
 'amount_2013',
 'amount_2014',
 'amount_2015',
 'amount_2016',
 'amount_2017',
 'lapsed_amount_2013',
 'lapsed_amount_2014',
 'lapsed_amount_2015',
 'lapsed_amount_2016',
 'lapsed_amount_2017',
 'upgraded_amount_2013',
 'upgraded_amount_2014',
 'upgraded_amount_2015',
 'upgraded_amount_2016',
 'upgraded_amount_2017',
 'downgraded_amount_2013',
 'downgraded_amount_2014',
 'downgraded_amount_2015',
 'downgraded_amount_2016',
 'downgraded_amount_2017',
 'amount_yr0',
 'amount_yr1',
 'amount_yr2',
 'amount_yr3',
 'amount_yr4',
 'count_yr0_y',
 'count_yr1_y',
 'count_yr2_y',
 'count_yr3_y',
 'count_yr4_y',
 'lapsed_amount_yr0',
 'lapsed_amount_yr1',
 'lapsed_amount_yr2',
 'lapsed_amount_yr3',
 'lapsed_amount_yr4',
 'upgraded_amount_yr0',
 'upgraded_amount_yr1',
 'upgraded_amount_yr2',
 'upgraded_amount_yr3',
 'upgraded_amount_yr4',
 'downgraded_amount_yr0',
 'downgraded_amount_yr1',
 'downgraded_amount_yr2',
 'downgraded_amount_yr3',
 'downgraded_amount_yr4',
 'amount_01_2013',
 'amount_02_2013',
 'amount_03_2013',
 'amount_04_2013',
 'amount_05_2013',
 'amount_06_2013',
 'amount_07_2013',
 'amount_08_2013',
 'amount_09_2013',
 'amount_10_2013',
 'amount_11_2013',
 'amount_12_2013',
 'amount_01_2014',
 'amount_02_2014',
 'amount_03_2014',
 'amount_04_2014',
 'amount_05_2014',
 'amount_06_2014',
 'amount_07_2014',
 'amount_08_2014',
 'amount_09_2014',
 'amount_10_2014',
 'amount_11_2014',
 'amount_12_2014',
 'amount_01_2015',
 'amount_02_2015',
 'amount_03_2015',
 'amount_04_2015',
 'amount_05_2015',
 'amount_06_2015',
 'amount_07_2015',
 'amount_08_2015',
 'amount_09_2015',
 'amount_10_2015',
 'amount_11_2015',
 'amount_12_2015',
 'amount_01_2016',
 'amount_02_2016',
 'amount_03_2016',
 'amount_04_2016',
 'amount_05_2016',
 'amount_06_2016',
 'amount_07_2016',
 'amount_08_2016',
 'amount_09_2016',
 'amount_10_2016',
 'amount_11_2016',
 'amount_12_2016',
 'amount_01_2017',
 'amount_02_2017',
 'amount_03_2017',
 'amount_04_2017',
 'amount_05_2017',
 'amount_06_2017',
 'amount_07_2017',
 'amount_08_2017',
 'amount_09_2017',
 'amount_10_2017',
 'amount_11_2017',
 'amount_12_2017',
 'amount_total',
 'count_total',
 'amount_01_yr0',
 'amount_02_yr0',
 'amount_03_yr0',
 'amount_04_yr0',
 'amount_05_yr0',
 'amount_06_yr0',
 'amount_07_yr0',
 'amount_08_yr0',
 'amount_09_yr0',
 'amount_10_yr0',
 'amount_11_yr0',
 'amount_12_yr0',
 'amount_01_yr1',
 'amount_02_yr1',
 'amount_03_yr1',
 'amount_04_yr1',
 'amount_05_yr1',
 'amount_06_yr1',
 'amount_07_yr1',
 'amount_08_yr1',
 'amount_09_yr1',
 'amount_10_yr1',
 'amount_11_yr1',
 'amount_12_yr1',
 'amount_01_yr2',
 'amount_02_yr2',
 'amount_03_yr2',
 'amount_04_yr2',
 'amount_05_yr2',
 'amount_06_yr2',
 'amount_07_yr2',
 'amount_08_yr2',
 'amount_09_yr2',
 'amount_10_yr2',
 'amount_11_yr2',
 'amount_12_yr2',
 'amount_01_yr3',
 'amount_02_yr3',
 'amount_03_yr3',
 'amount_04_yr3',
 'amount_05_yr3',
 'amount_06_yr3',
 'amount_07_yr3',
 'amount_08_yr3',
 'amount_09_yr3',
 'amount_10_yr3',
 'amount_11_yr3',
 'amount_12_yr3',
 'amount_01_yr4',
 'amount_02_yr4',
 'amount_03_yr4',
 'amount_04_yr4',
 'amount_05_yr4',
 'amount_06_yr4',
 'amount_07_yr4',
 'amount_08_yr4',
 'amount_09_yr4',
 'amount_10_yr4',
 'amount_11_yr4',
 'amount_12_yr4',
 'years_donated',
 'cohort_gift_pattern',
 'perc_years_donated',
 'gift_pattern',
 'donor_profile',
 'behavior_2013',
 'behavior_2014',
 'behavior_2015',
 'behavior_2016',
 'behavior_2017',
 'gainloss_2013',
 'gainloss_2014',
 'gainloss_2015',
 'gainloss_2016',
 'gainloss_2017',
 'gainloss_2014_amt',
 'gainloss_2015_amt',
 'gainloss_2016_amt',
 'gainloss_2017_amt']

In [54]:
cols=[ 'count_yr0_y',
 'count_yr1_y',
 'count_yr2_y',
 'count_yr3_y',
 'count_yr4_y',
 'id',
 'amount_yr0',
 'amount_yr1',
 'amount_yr2',
 'amount_yr3',
 'amount_yr4',
 'first_gift_year',
 'lapsed_count',
 'recovered_count',
 'max_consec_giving_years',
 'total_giving_years',
 'count_2013',
 'count_2014',
 'count_2015',
 'count_2016',
 'count_2017',
 'lapsed_amount',
 'recovered_amount',
 'amount_2013',
 'amount_2014',
 'amount_2015',
 'amount_2016',
 'amount_2017',
 'lapsed_amount_2013',
 'lapsed_amount_2014',
 'lapsed_amount_2015',
 'lapsed_amount_2016',
 'lapsed_amount_2017',
 'upgraded_amount_2013',
 'upgraded_amount_2014',
 'upgraded_amount_2015',
 'upgraded_amount_2016',
 'upgraded_amount_2017',
 'downgraded_amount_2013',
 'downgraded_amount_2014',
 'downgraded_amount_2015',
 'downgraded_amount_2016',
 'downgraded_amount_2017',
 'amount_yr0',
 'amount_yr1',
 'amount_yr2',
 'amount_yr3',
 'amount_yr4',
 'lapsed_amount_yr0',
 'lapsed_amount_yr1',
 'lapsed_amount_yr2',
 'lapsed_amount_yr3',
 'lapsed_amount_yr4',
 'upgraded_amount_yr0',
 'upgraded_amount_yr1',
 'upgraded_amount_yr2',
 'upgraded_amount_yr3',
 'upgraded_amount_yr4',
 'downgraded_amount_yr0',
 'downgraded_amount_yr1',
 'downgraded_amount_yr2',
 'downgraded_amount_yr3',
 'downgraded_amount_yr4',
 'amount_01_2013',
 'amount_02_2013',
 'amount_03_2013',
 'amount_04_2013',
 'amount_05_2013',
 'amount_06_2013',
 'amount_07_2013',
 'amount_08_2013',
 'amount_09_2013',
 'amount_10_2013',
 'amount_11_2013',
 'amount_12_2013',
 'amount_01_2014',
 'amount_02_2014',
 'amount_03_2014',
 'amount_04_2014',
 'amount_05_2014',
 'amount_06_2014',
 'amount_07_2014',
 'amount_08_2014',
 'amount_09_2014',
 'amount_10_2014',
 'amount_11_2014',
 'amount_12_2014',
 'amount_01_2015',
 'amount_02_2015',
 'amount_03_2015',
 'amount_04_2015',
 'amount_05_2015',
 'amount_06_2015',
 'amount_07_2015',
 'amount_08_2015',
 'amount_09_2015',
 'amount_10_2015',
 'amount_11_2015',
 'amount_12_2015',
 'amount_01_2016',
 'amount_02_2016',
 'amount_03_2016',
 'amount_04_2016',
 'amount_05_2016',
 'amount_06_2016',
 'amount_07_2016',
 'amount_08_2016',
 'amount_09_2016',
 'amount_10_2016',
 'amount_11_2016',
 'amount_12_2016',
 'amount_01_2017',
 'amount_02_2017',
 'amount_03_2017',
 'amount_04_2017',
 'amount_05_2017',
 'amount_06_2017',
 'amount_07_2017',
 'amount_08_2017',
 'amount_09_2017',
 'amount_10_2017',
 'amount_11_2017',
 'amount_12_2017',
 'amount_total',
 'count_total',
 'amount_01_yr0',
 'amount_02_yr0',
 'amount_03_yr0',
 'amount_04_yr0',
 'amount_05_yr0',
 'amount_06_yr0',
 'amount_07_yr0',
 'amount_08_yr0',
 'amount_09_yr0',
 'amount_10_yr0',
 'amount_11_yr0',
 'amount_12_yr0',
 'amount_01_yr1',
 'amount_02_yr1',
 'amount_03_yr1',
 'amount_04_yr1',
 'amount_05_yr1',
 'amount_06_yr1',
 'amount_07_yr1',
 'amount_08_yr1',
 'amount_09_yr1',
 'amount_10_yr1',
 'amount_11_yr1',
 'amount_12_yr1',
 'amount_01_yr2',
 'amount_02_yr2',
 'amount_03_yr2',
 'amount_04_yr2',
 'amount_05_yr2',
 'amount_06_yr2',
 'amount_07_yr2',
 'amount_08_yr2',
 'amount_09_yr2',
 'amount_10_yr2',
 'amount_11_yr2',
 'amount_12_yr2',
 'amount_01_yr3',
 'amount_02_yr3',
 'amount_03_yr3',
 'amount_04_yr3',
 'amount_05_yr3',
 'amount_06_yr3',
 'amount_07_yr3',
 'amount_08_yr3',
 'amount_09_yr3',
 'amount_10_yr3',
 'amount_11_yr3',
 'amount_12_yr3',
 'amount_01_yr4',
 'amount_02_yr4',
 'amount_03_yr4',
 'amount_04_yr4',
 'amount_05_yr4',
 'amount_06_yr4',
 'amount_07_yr4',
 'amount_08_yr4',
 'amount_09_yr4',
 'amount_10_yr4',
 'amount_11_yr4',
 'amount_12_yr4',
 'years_donated',
 'cohort_gift_pattern',
 'perc_years_donated',
 'gift_pattern',
 'donor_profile',
 'behavior_2013',
 'behavior_2014',
 'behavior_2015',
 'behavior_2016',
 'behavior_2017',
 'gainloss_2013',
 'gainloss_2014',
 'gainloss_2015',
 'gainloss_2016',
 'gainloss_2017',
 'gainloss_2014_amt',
 'gainloss_2015_amt',
 'gainloss_2016_amt',
 'gainloss_2017_amt']

In [55]:
donations_13to17=donations_13to17[cols]

In [56]:
donations_13to17.groupby('cohort_gift_pattern').sum()

,count_yr0_x,count_yr1_x,count_yr2_x,count_yr3_x,count_yr4_x,count_yr0_y,count_yr1_y,count_yr2_y,count_yr3_y,count_yr4_y,...,amount_09_yr4,amount_10_yr4,amount_11_yr4,amount_12_yr4,years_donated,perc_years_donated,gainloss_2014_amt,gainloss_2015_amt,gainloss_2016_amt,gainloss_2017_amt
cohort_gift_pattern,,,,,,,,,,,,,,,,,,,,,
"0,",1951542,0,0,0,0,19515.42,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,1548633.0,309726.600009,3048131.36,4328383.98,5668762.29,4694485.00
"0,1,",351904,300763,0,0,0,3519.04,3007.63,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,293982.0,58796.400000,2359743.22,-109153.71,3054899.14,3128162.20
"0,1,2,",111388,166061,91318,0,0,1113.88,1660.61,913.18,0.00,0.00,...,0.00,0.00,0.00,0.00,102567.0,20513.400000,1159992.85,1782758.94,1629576.91,570730.35
"0,1,2,3,",56259,80757,77733,41941,0,562.59,807.57,777.33,419.41,0.00,...,85003.94,87640.76,90883.74,184248.43,50523.0,10104.600000,1179434.03,1540043.47,1002653.82,-167833.90
"0,1,2,3,4,",127894,185300,149875,147865,128854,1278.94,1853.00,1498.75,1478.65,1288.54,...,976480.30,977064.73,1138521.31,1550380.90,62270.0,12454.000000,3403145.73,840728.88,794480.70,468917.10
"0,1,2,4,",12650,12180,8477,0,7607,126.50,121.80,84.77,0.00,76.07,...,51488.18,39111.52,63445.55,109491.95,11232.0,2246.400000,139057.88,16889.11,-533944.70,406734.30
"0,1,3,",17691,16934,0,13386,0,176.91,169.34,0.00,133.86,0.00,...,48118.31,30767.99,32472.96,69326.56,22659.0,4531.800000,492193.45,-217653.62,-82835.91,-177705.78
"0,1,3,4,",7792,7731,0,7974,9596,77.92,77.31,0.00,79.74,95.96,...,68852.78,51097.72,65494.68,135615.08,10407.0,2081.400000,171550.41,-372546.65,314744.02,217226.25
"0,1,4,",8261,6407,0,0,5693,82.61,64.07,0.00,0.00,56.93,...,29615.97,22492.52,34206.41,44463.84,8182.0,1636.400000,132986.87,-321879.83,-89503.74,285465.61
"0,2,",65682,0,62649,0,0,656.82,0.00,626.49,0.00,0.00,...,0.00,0.00,0.00,0.00,80464.0,16092.800000,-640987.32,1495811.93,-641373.51,-426944.61
"0,2,3,",13189,0,16364,14069,0,131.89,0.00,163.64,140.69,0.00,...,42288.35,32236.56,31783.20,63852.41,20763.0,4152.600000,87845.18,243964.01,175929.12,106653.83
"0,2,3,4,",5965,0,7642,10695,9106,59.65,0.00,76.42,106.95,91.06,...,69419.96,90822.36,85210.39,125562.24,10103.0,2020.600000,-153424.59,269960.27,298439.74,162073.39
"0,2,4,",3495,0,3446,0,3579,34.95,0.00,34.46,0.00,35.79,...,15875.74,17098.53,17583.56,27018.08,5523.0,1104.600000,-80945.84,101986.92,-91562.39,108603.31
"0,3,",24944,0,0,24744,0,249.44,0.00,0.00,247.44,0.00,...,73092.00,60172.17,57293.52,86806.64,31695.0,6339.000000,90683.47,-297687.95,280109.42,69771.01
"0,3,4",5287,0,0,7203,11553,52.87,0.00,0.00,72.03,115.53,...,50305.60,59956.83,57649.84,86879.92,8411.0,1682.200000,-124967.88,-102649.51,386284.93,243123.50
"0,4,",9927,0,0,0,10705,99.27,0.00,0.00,0.00,107.05,...,52978.49,53568.97,45914.67,91385.09,11922.0,2384.400000,-234215.92,-160859.77,0.00,532082.25

In [40]:
donations_13to17.query('amount_yr1 > 0').cohort_gift_pattern.value_counts()

0,1,          161986
0,1,2,         37634
0,1,2,3,       13780
0,1,2,3,4,     13098
0,1,3,          8132
0,1,4,          2993
0,1,2,4,        2965
0,1,3,4,        2815
Name: cohort_gift_pattern, dtype: int64

In [41]:
donations_13to17.query('amount_yr2 > 0').cohort_gift_pattern.value_counts()

0,2,          44401
0,1,2,        37634
0,1,2,3,      13780
0,1,2,3,4,    13098
0,2,3,         7626
0,1,2,4,       2965
0,2,3,4,       2735
0,2,4,         2035
Name: cohort_gift_pattern, dtype: int64

In [42]:
donations_13to17.query('amount_yr3 > 0').cohort_gift_pattern.value_counts()

0,3,          17615
0,1,2,3,      13780
0,1,2,3,4,    13098
0,1,3,         8132
0,2,3,         7626
0,3,4          3108
0,1,3,4,       2815
0,2,3,4,       2735
Name: cohort_gift_pattern, dtype: int64

In [43]:
donations_13to17.query('amount_yr4 > 0').cohort_gift_pattern.value_counts()

0,1,2,3,4,    13098
0,4,           6912
0,3,4          3108
0,1,4,         2993
0,1,2,4,       2965
0,1,3,4,       2815
0,2,3,4,       2735
0,2,4,         2035
Name: cohort_gift_pattern, dtype: int64

In [10]:
c13=donations_13to17.query('first_gift_year == "2013-01-01"')

In [11]:
c13.head()

,id,first_gift_year,lapsed_count,recovered_count,max_consec_giving_years,total_giving_years,count_2013,count_2014,count_2015,count_2016,...,behavior_2017,gainloss_2013,gainloss_2014,gainloss_2015,gainloss_2016,gainloss_2017,gainloss_2014_amt,gainloss_2015_amt,gainloss_2016_amt,gainloss_2017_amt
6,8a1875762c85932fff192ea126ccdff2,2013-01-01,2,1,1,1,1,0,0,0,...,none,gain,loss,none,none,none,-50.0,0.0,0.0,0.0
7,a3f070e439d52de72ca62dc41f9b16a4,2013-01-01,2,1,1,1,1,0,0,0,...,none,gain,loss,none,none,none,-50.0,0.0,0.0,0.0
8,bd323208dc78b1c74b62664b768f3176,2013-01-01,4,3,3,3,2,2,1,0,...,none,gain,loss,none,loss,none,-40.0,0.0,-200.0,0.0
9,6dd6113f89f2766d3b0707ef2a46260c,2013-01-01,4,3,3,3,19,7,1,0,...,none,gain,loss,loss,loss,none,-151.0,-200.0,-20.0,0.0
10,391f14831940fc7bc41df2cd7fb06030,2013-01-01,2,1,1,1,1,0,0,0,...,none,gain,loss,none,none,none,-100.0,0.0,0.0,0.0

In [13]:
c13.cohort_gift_pattern.value_counts()

0,            227808
0,1,           28817
0,2,           10390
0,1,2,3,4,      9878
0,1,2,          9423
0,3,            6773
0,4,            5010
0,1,2,3,        4442
0,1,3,          3075
0,2,3,          2412
0,1,2,4,        2337
0,1,4,          2196
0,3,4           2195
0,1,3,4,        1962
0,2,3,4,        1898
0,2,4,          1453
Name: cohort_gift_pattern, dtype: int64

In [14]:
c13.id.count()

320069

In [15]:
for col in c13.columns:
    print(col)

id
first_gift_year
lapsed_count
recovered_count
max_consec_giving_years
total_giving_years
count_2013
count_2014
count_2015
count_2016
count_2017
count_yr0_x
count_yr1_x
count_yr2_x
count_yr3_x
count_yr4_x
lapsed_amount
recovered_amount
amount_2013
amount_2014
amount_2015
amount_2016
amount_2017
lapsed_amount_2013
lapsed_amount_2014
lapsed_amount_2015
lapsed_amount_2016
lapsed_amount_2017
upgraded_amount_2013
upgraded_amount_2014
upgraded_amount_2015
upgraded_amount_2016
upgraded_amount_2017
downgraded_amount_2013
downgraded_amount_2014
downgraded_amount_2015
downgraded_amount_2016
downgraded_amount_2017
amount_yr0
amount_yr1
amount_yr2
amount_yr3
amount_yr4
count_yr0_y
count_yr1_y
count_yr2_y
count_yr3_y
count_yr4_y
lapsed_amount_yr0
lapsed_amount_yr1
lapsed_amount_yr2
lapsed_amount_yr3
lapsed_amount_yr4
upgraded_amount_yr0
upgraded_amount_yr1
upgraded_amount_yr2
upgraded_amount_yr3
upgraded_amount_yr4
downgraded_amount_yr0
downgraded_amount_yr1
downgraded_amount_yr2
downgraded_amount_yr3
downgraded_amount_yr4
amount_01_2013
amount_02_2013
amount_03_2013
amount_04_2013
amount_05_2013
amount_06_2013
amount_07_2013
amount_08_2013
amount_09_2013
amount_10_2013
amount_11_2013
amount_12_2013
amount_01_2014
amount_02_2014
amount_03_2014
amount_04_2014
amount_05_2014
amount_06_2014
amount_07_2014
amount_08_2014
amount_09_2014
amount_10_2014
amount_11_2014
amount_12_2014
amount_01_2015
amount_02_2015
amount_03_2015
amount_04_2015
amount_05_2015
amount_06_2015
amount_07_2015
amount_08_2015
amount_09_2015
amount_10_2015
amount_11_2015
amount_12_2015
amount_01_2016
amount_02_2016
amount_03_2016
amount_04_2016
amount_05_2016
amount_06_2016
amount_07_2016
amount_08_2016
amount_09_2016
amount_10_2016
amount_11_2016
amount_12_2016
amount_01_2017
amount_02_2017
amount_03_2017
amount_04_2017
amount_05_2017
amount_06_2017
amount_07_2017
amount_08_2017
amount_09_2017
amount_10_2017
amount_11_2017
amount_12_2017
amount_total
count_total
amount_01_yr0
amount_02_yr0
amount_03_yr0
amount_04_yr0
amount_05_yr0
amount_06_yr0
amount_07_yr0
amount_08_yr0
amount_09_yr0
amount_10_yr0
amount_11_yr0
amount_12_yr0
amount_01_yr1
amount_02_yr1
amount_03_yr1
amount_04_yr1
amount_05_yr1
amount_06_yr1
amount_07_yr1
amount_08_yr1
amount_09_yr1
amount_10_yr1
amount_11_yr1
amount_12_yr1
amount_01_yr2
amount_02_yr2
amount_03_yr2
amount_04_yr2
amount_05_yr2
amount_06_yr2
amount_07_yr2
amount_08_yr2
amount_09_yr2
amount_10_yr2
amount_11_yr2
amount_12_yr2
amount_01_yr3
amount_02_yr3
amount_03_yr3
amount_04_yr3
amount_05_yr3
amount_06_yr3
amount_07_yr3
amount_08_yr3
amount_09_yr3
amount_10_yr3
amount_11_yr3
amount_12_yr3
amount_01_yr4
amount_02_yr4
amount_03_yr4
amount_04_yr4
amount_05_yr4
amount_06_yr4
amount_07_yr4
amount_08_yr4
amount_09_yr4
amount_10_yr4
amount_11_yr4
amount_12_yr4
years_donated
cohort_gift_pattern
perc_years_donated
gift_pattern
donor_profile
behavior_2013
behavior_2014
behavior_2015
behavior_2016
behavior_2017
gainloss_2013
gainloss_2014
gainloss_2015
gainloss_2016
gainloss_2017
gainloss_2014_amt
gainloss_2015_amt
gainloss_2016_amt
gainloss_2017_amt

In [32]:
c13.query('amount_yr1 > 0 & amount_yr4 > 0').count()['id']

15933