In [ ]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style("white")
%matplotlib inline

In [22]:
donations_13to17=pd.read_pickle('donations_13to17.pkl')

In [52]:
donations_13to17.head()

,id,first_gift_year,lapsed_count,recovered_count,max_consec_giving_years,total_giving_years,count_2013,count_2014,count_2015,count_2016,...,gift_pattern,perc_years_donated,donor_profile,behavior_2013,behavior_2014,behavior_2015,behavior_2016,behavior_2017,gainloss_2017,gainloss_2017_amt
0,1f4b5b6e68445c6c4a0509b3aca93f38,2015-01-01,4,4,4,4,0,0,42,64,...,"3,4,5,",0.6,repeat,none,none,new,upgrade,upgrade,gain,22559.83
1,4aaab6d244bf3599682239ed5591af8a,2016-01-01,2,1,1,1,0,0,0,1,...,"4,",0.2,one_time,none,none,none,new,lapse_new,loss,-25.00
2,0b0765dc9c759adc48a07688ba25e94e,2015-01-01,3,2,2,2,0,0,2,2,...,"3,4,",0.4,repeat,none,none,new,upgrade,lapse_repeat,loss,-40.00
3,377944ad61f72d800b25ec1862aec363,2016-01-01,2,1,1,1,0,0,0,1,...,"4,",0.2,one_time,none,none,none,new,lapse_new,loss,-25.00
4,6d5b22d39e68c656071a842732c63a0c,2015-01-01,4,3,2,3,0,0,1,1,...,"3,4,",0.4,repeat,none,none,new,downgrade,lapse_repeat,loss,-25.00

In [24]:
for col in donations_13to17.columns:
    print(col)

id
first_gift_year
lapsed_count
recovered_count
max_consec_giving_years
total_giving_years
count_2013
count_2014
count_2015
count_2016
count_2017
count_yr0_x
count_yr1_x
count_yr2_x
count_yr3_x
count_yr4_x
lapsed_amount
recovered_amount
amount_2013
amount_2014
amount_2015
amount_2016
amount_2017
lapsed_amount_2013
lapsed_amount_2014
lapsed_amount_2015
lapsed_amount_2016
lapsed_amount_2017
upgraded_amount_2013
upgraded_amount_2014
upgraded_amount_2015
upgraded_amount_2016
upgraded_amount_2017
downgraded_amount_2013
downgraded_amount_2014
downgraded_amount_2015
downgraded_amount_2016
downgraded_amount_2017
amount_yr0
amount_yr1
amount_yr2
amount_yr3
amount_yr4
count_yr0_y
count_yr1_y
count_yr2_y
count_yr3_y
count_yr4_y
lapsed_amount_yr0
lapsed_amount_yr1
lapsed_amount_yr2
lapsed_amount_yr3
lapsed_amount_yr4
upgraded_amount_yr0
upgraded_amount_yr1
upgraded_amount_yr2
upgraded_amount_yr3
upgraded_amount_yr4
downgraded_amount_yr0
downgraded_amount_yr1
downgraded_amount_yr2
downgraded_amount_yr3
downgraded_amount_yr4
amount_01_2013
amount_02_2013
amount_03_2013
amount_04_2013
amount_05_2013
amount_06_2013
amount_07_2013
amount_08_2013
amount_09_2013
amount_10_2013
amount_11_2013
amount_12_2013
amount_01_2014
amount_02_2014
amount_03_2014
amount_04_2014
amount_05_2014
amount_06_2014
amount_07_2014
amount_08_2014
amount_09_2014
amount_10_2014
amount_11_2014
amount_12_2014
amount_01_2015
amount_02_2015
amount_03_2015
amount_04_2015
amount_05_2015
amount_06_2015
amount_07_2015
amount_08_2015
amount_09_2015
amount_10_2015
amount_11_2015
amount_12_2015
amount_01_2016
amount_02_2016
amount_03_2016
amount_04_2016
amount_05_2016
amount_06_2016
amount_07_2016
amount_08_2016
amount_09_2016
amount_10_2016
amount_11_2016
amount_12_2016
amount_01_2017
amount_02_2017
amount_03_2017
amount_04_2017
amount_05_2017
amount_06_2017
amount_07_2017
amount_08_2017
amount_09_2017
amount_10_2017
amount_11_2017
amount_12_2017
amount_total
count_total
amount_01_yr0
amount_02_yr0
amount_03_yr0
amount_04_yr0
amount_05_yr0
amount_06_yr0
amount_07_yr0
amount_08_yr0
amount_09_yr0
amount_10_yr0
amount_11_yr0
amount_12_yr0
amount_01_yr1
amount_02_yr1
amount_03_yr1
amount_04_yr1
amount_05_yr1
amount_06_yr1
amount_07_yr1
amount_08_yr1
amount_09_yr1
amount_10_yr1
amount_11_yr1
amount_12_yr1
amount_01_yr2
amount_02_yr2
amount_03_yr2
amount_04_yr2
amount_05_yr2
amount_06_yr2
amount_07_yr2
amount_08_yr2
amount_09_yr2
amount_10_yr2
amount_11_yr2
amount_12_yr2
amount_01_yr3
amount_02_yr3
amount_03_yr3
amount_04_yr3
amount_05_yr3
amount_06_yr3
amount_07_yr3
amount_08_yr3
amount_09_yr3
amount_10_yr3
amount_11_yr3
amount_12_yr3
amount_01_yr4
amount_02_yr4
amount_03_yr4
amount_04_yr4
amount_05_yr4
amount_06_yr4
amount_07_yr4
amount_08_yr4
amount_09_yr4
amount_10_yr4
amount_11_yr4
amount_12_yr4
years_donated
gift_pattern
perc_years_donated
donor_profile

In [25]:
donations_13to17.head()

,id,first_gift_year,lapsed_count,recovered_count,max_consec_giving_years,total_giving_years,count_2013,count_2014,count_2015,count_2016,...,amount_07_yr4,amount_08_yr4,amount_09_yr4,amount_10_yr4,amount_11_yr4,amount_12_yr4,years_donated,gift_pattern,perc_years_donated,donor_profile
0,1f4b5b6e68445c6c4a0509b3aca93f38,2015-01-01,4,4,4,4,0,0,42,64,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,"3,4,5,",0.6,repeat
1,4aaab6d244bf3599682239ed5591af8a,2016-01-01,2,1,1,1,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"4,",0.2,one_time
2,0b0765dc9c759adc48a07688ba25e94e,2015-01-01,3,2,2,2,0,0,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,"3,4,",0.4,repeat
3,377944ad61f72d800b25ec1862aec363,2016-01-01,2,1,1,1,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"4,",0.2,one_time
4,6d5b22d39e68c656071a842732c63a0c,2015-01-01,4,3,2,3,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,"3,4,",0.4,repeat

### Information about the donors

In [ ]:
cohort13=pd.read_pickle('cohort13.pkl')
cohort14=pd.read_pickle('cohort14.pkl')
cohort15=pd.read_pickle('cohort15.pkl')
cohort16=pd.read_pickle('cohort16.pkl')
cohort17=pd.read_pickle('cohort17.pkl')

In [ ]:
# number of donors per year (regardless of whether donor is new or old)
no_donors_2013 = donations_13to17.query('amount_2013 > 0').count()['id']
no_donors_2014 = donations_13to17.query('amount_2014 > 0').count()['id']
no_donors_2015 = donations_13to17.query('amount_2015 > 0').count()['id']
no_donors_2016 = donations_13to17.query('amount_2016 > 0').count()['id']
no_donors_2017 = donations_13to17.query('amount_2017 > 0').count()['id']
no_donors_overall = donations_13to17.id.count()

In [ ]:
no_donations_2013 = donations_13to17['count_2013'].sum()
no_donations_2014 = donations_13to17['count_2014'].sum()
no_donations_2015 = donations_13to17['count_2015'].sum()
no_donations_2016 = donations_13to17['count_2016'].sum()
no_donations_2017 = donations_13to17['count_2017'].sum()
no_donations_overall = donations_13to17.count_total.sum()

In [ ]:
amt_donated_2013 = donations_13to17['amount_2013'].sum()
amt_donated_2014 = donations_13to17['amount_2014'].sum()
amt_donated_2015 = donations_13to17['amount_2015'].sum()
amt_donated_2016 = donations_13to17['amount_2016'].sum()
amt_donated_2017 = donations_13to17['amount_2017'].sum()
amt_donated_overall = donations_13to17.amount_total.sum()

In [ ]:
avg_amt_per_donor_2013 = amt_donated_2013/no_donors_2013
avg_amt_per_donor_2014 = amt_donated_2014/no_donors_2014
avg_amt_per_donor_2015 = amt_donated_2015/no_donors_2015
avg_amt_per_donor_2016 = amt_donated_2016/no_donors_2016
avg_amt_per_donor_2017 = amt_donated_2017/no_donors_2017
avg_amt_per_donor_overall = amt_donated_overall/no_donors_overall

In [ ]:
max_amt_by_single_donor_2013 = donations_13to17['amount_2013'].max()
max_amt_by_single_donor_2014 = donations_13to17['amount_2014'].max()
max_amt_by_single_donor_2015 = donations_13to17['amount_2015'].max()
max_amt_by_single_donor_2016 = donations_13to17['amount_2016'].max()
max_amt_by_single_donor_2017 = donations_13to17['amount_2017'].max()
max_amt_by_single_donor_overall = donations_13to17['amount_total'].max()

In [ ]:
onetime_donors = donations_13to17[(donations_13to17['total_giving_years'] == 1)]

In [ ]:
onetime_donors.shape

In [ ]:
repeat_donors = donations_13to17[(donations_13to17['total_giving_years'] > 1) ]

In [ ]:
repeat_donors.shape

In [ ]:
no_onetime_donors = len(onetime_donors.id.unique())
no_repeat_donors = len(repeat_donors.id.unique())
perc_onetime_donors= no_onetime_donors/no_donors_overall
perc_repeat_donors = no_repeat_donors/no_donors_overall

In [ ]:
# number of new donors that year / number of donors per cohort class
no_new_donors_2013 = donations_13to17.query("first_gift_year == '2013-01-01'").count()['id'] 
no_new_donors_2014 = donations_13to17.query("first_gift_year == '2014-01-01'").count()['id'] 
no_new_donors_2015 = donations_13to17.query("first_gift_year == '2015-01-01'").count()['id'] 
no_new_donors_2016 = donations_13to17.query("first_gift_year == '2016-01-01'").count()['id'] 
no_new_donors_2017 = donations_13to17.query("first_gift_year == '2017-01-01'").count()['id']

In [ ]:
# number of repeat/returning donors
no_repeat_donors_2013 = no_donors_2013-no_new_donors_2013
no_repeat_donors_2014 = no_donors_2014-no_new_donors_2014
no_repeat_donors_2015 = no_donors_2015-no_new_donors_2015
no_repeat_donors_2016 = no_donors_2016-no_new_donors_2016
no_repeat_donors_2017 = no_donors_2017-no_new_donors_2017

In [ ]:
#n/a not enough data  retention_rate_13 = no_repeat_donors_13/(no_repeat_donors_13+no_donors_lapsed_13)
retention_rate_2014 = no_repeat_donors_2014/(no_donors_2013)
retention_rate_2015 = no_repeat_donors_2015/(no_donors_2014)
retention_rate_2016 = no_repeat_donors_2016/(no_donors_2015)
retention_rate_2017 = no_repeat_donors_2017/(no_donors_2016)

In [ ]:
no_donors_lapsed_2014 = donations_13to17[(donations_13to17['amount_2013'] > 0) & (donations_13to17['amount_2014'] == 0)].count()['id']
no_donors_lapsed_2015 = donations_13to17[(donations_13to17['amount_2014'] > 0) & (donations_13to17['amount_2015'] == 0)].count()['id']
no_donors_lapsed_2016 = donations_13to17[(donations_13to17['amount_2015'] > 0) & (donations_13to17['amount_2016'] == 0)].count()['id']
no_donors_lapsed_2017 = donations_13to17[(donations_13to17['amount_2016'] > 0) & (donations_13to17['amount_2017'] == 0)].count()['id']

In [ ]:
donations_13to17.query('amount_2013 == 0 & amount_2014 > 0 & amount_2015 == 0 & amount_2016 == 0 & amount_2017 == 0 & total_giving_years > 1')

In [ ]:
df2013=donations_13to17.query('amount_2013 > 0')

In [ ]:
d = {'lapsed_count': ['sum', 'count'], 'recovered_count': ['sum', 'count']}
res = donations_13to17.groupby('first_gift_year').agg(d)
res

In [ ]:
print(f'Repeat donors')
print(f'Count: ', f'{repeat_donors.id.count():,.0f}')
print(f'% total count: ', f'{repeat_donors.id.count()/no_donors_overall:.2%}')
print(f'Amount donated: ', f'$', f'{repeat_donors.amount_total.sum():,.0f}')
print(f'% total amount: ', f'{repeat_donors.amount_total.sum()/amt_donated_overall:.2%}')

In [ ]:
# 1. Overview stats - 2013-2017
print(f'Overview overall 2013-2017')
print(f'# donors:', f'{no_donors_overall:,}')
print(f'# one-time donors:', f'{no_onetime_donors:,}')
print(f'% one-time donors:', f'{perc_onetime_donors:.0%}')
print(f'# repeat donors:', f'{no_repeat_donors:,}')
print(f'% repeat donors:', f'{perc_repeat_donors:.0%}')
print(f'# donations:', f'{no_donations_overall:,}')
print(f'$ donated:', f'$', f"{amt_donated_overall:,.2f}")
print(f'Average $ per donor:', f'$', f'{avg_amt_per_donor_overall:,.2f}')
print(f'Max $ by single donor:', f'$', f'{max_amt_by_single_donor_overall:,.2f}')

In [ ]:
for col in donations_13to17.columns:
    print(col)

In [ ]:
# 2a. By year - 2013
print(f'Year 1 - 2013')
print(f'# donors:', f'{no_donors_2013:,}')
print(f'# new donors:', f'{no_new_donors_2013:,}')
print(f'# repeat donors:', f'{no_repeat_donors_2013:,}')
#print(f'# donors lapsed:', f'n/a')
print(f'Retention rate:', f'n/a')

print(f'$ donated:', f'$', f"{amt_donated_2013:,.0f}")
print(f'# donations:', f'{no_donations_2013:,}')
print(f'Average $ per donor:', f'$', f'{avg_amt_per_donor_2013:,.0f}')
print(f'Max $ by single donor:', f'$', f'{max_amt_by_single_donor_2013:,.0f}')

In [ ]:
#2b. By year - 2014
print(f'Year 2 - 2014')
print(f'# donors:', f'{no_donors_14:,}')
print(f'# new donors:', f'{no_new_donors_14:,}')
print(f'# repeat donors:', f'{no_repeat_donors_14:,}')
#print(f'# donors lapsed:', f'{no_donors_lapsed_14:,}')
print(f'Retention rate:', f'{no_repeat_donors_14/no_donors_14:.2%}')

print(f'$ donated:', f'$', f"{amt_donated_14:,.0f}")
print(f'# donations:', f'{no_donations_14:,}')
print(f'Average $ per donor:', f'$', f'{avg_amt_per_donor_14:,.0f}')
print(f'Max $ by single donor:', f'$', f'{max_amt_by_single_donor_14:,.0f}')

In [ ]:
#2c. By year - 2015
print(f'Year 3 - 2015')
print(f'# donors:', f'{no_donors_15:,}')
print(f'# new donors:', f'{no_new_donors_15:,}')
print(f'# repeat donors:', f'{no_repeat_donors_15:,}')
#print(f'# donors lapsed:', f'{no_donors_lapsed_15:,}')
print(f'Retention rate:', f'{no_repeat_donors_15/no_donors_15:.2%}')

print(f'$ donated:', f'$', f"{amt_donated_15:,.0f}")
print(f'# donations:', f'{no_donations_15:,}')
print(f'Average $ per donor:', f'$', f'{avg_amt_per_donor_15:,.0f}')
print(f'Max $ by single donor:', f'$', f'{max_amt_by_single_donor_15:,.0f}')

In [ ]:
#2d. By year - 2016')
print(f'Year 4 - 2016')
print(f'# donors:', f'{no_donors_16:,}')
print(f'# new donors:', f'{no_new_donors_16:,}')
print(f'# repeat donors:', f'{no_repeat_donors_16:,}')
print(f'# donors lapsed:', f'{no_donors_lapsed_16:,}')
print(f'Retention rate:', f'{no_repeat_donors_16/no_donors_16:.2%}')

print(f'$ donated:', f'$', f"{amt_donated_16:,.0f}")
print(f'# donations:', f'{no_donations_16:,}')
print(f'Average $ per donor:', f'$', f'{avg_amt_per_donor_16:,.0f}')
print(f'Max $ by single donor:', f'$', f'{max_amt_by_single_donor_16:,.0f}')

In [ ]:
#2e. By year - 2017
print(f'Year 5 - 2017')
print(f'# donors:', f'{no_donors_17:,}')
print(f'# new donors:', f'{no_new_donors_17:,}')
print(f'# repeat donors:', f'{no_repeat_donors_17:,}')
print(f'# donors lapsed:', f'{no_donors_lapsed_17:,}')
print(f'Retention rate:', f'{no_repeat_donors_17/no_donors_17:.2%}')

print(f'$ donated:', f'$', f"{amt_donated_17:,.0f}")
print(f'# donations:', f'{no_donations_17:,}')
print(f'Average $ per donor:', f'$', f'{avg_amt_per_donor_17:,.0f}')
print(f'Max $ by single donor:', f'$', f'{max_amt_by_single_donor_17:,.0f}')

In [ ]:
yr2013 = donations_13to17.query('amount_2013 > 0')

In [ ]:
yr2013.count()

In [ ]:
for col in yr2013.columns:
    print(col)

In [ ]:
yr2013.head()

In [ ]:
mult_yr2013=yr2013.query('count_2013 > 1')

In [ ]:
mult_yr2013.count()

In [ ]:
mult_yr2013.head()

In [ ]:
yr2013.query('downgraded_amount_2013 > 0')

In [50]:
donations_13to17.head()

,id,first_gift_year,lapsed_count,recovered_count,max_consec_giving_years,total_giving_years,count_2013,count_2014,count_2015,count_2016,...,gift_pattern,perc_years_donated,donor_profile,behavior_2013,behavior_2014,behavior_2015,behavior_2016,behavior_2017,gainloss_2017,gainloss_2017_amt
0,1f4b5b6e68445c6c4a0509b3aca93f38,2015-01-01,4,4,4,4,0,0,42,64,...,"3,4,5,",0.6,repeat,none,none,new,upgrade,upgrade,gain,22559.83
1,4aaab6d244bf3599682239ed5591af8a,2016-01-01,2,1,1,1,0,0,0,1,...,"4,",0.2,one_time,none,none,none,new,lapse_new,loss,-25.00
2,0b0765dc9c759adc48a07688ba25e94e,2015-01-01,3,2,2,2,0,0,2,2,...,"3,4,",0.4,repeat,none,none,new,upgrade,lapse_repeat,loss,-40.00
3,377944ad61f72d800b25ec1862aec363,2016-01-01,2,1,1,1,0,0,0,1,...,"4,",0.2,one_time,none,none,none,new,lapse_new,loss,-25.00
4,6d5b22d39e68c656071a842732c63a0c,2015-01-01,4,3,2,3,0,0,1,1,...,"3,4,",0.4,repeat,none,none,new,downgrade,lapse_repeat,loss,-25.00