In [1]:
import numpy as np
import pandas as pd
import plotly.express as px

import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style("white")
%matplotlib inline

In [2]:
cohort13=pd.read_pickle('cohort13.pkl')

In [3]:
cohort13.head()

,id,cohort_yr,amount_total,amount_yr1,amount_yr2,amount_yr3,amount_yr4,amount_yr5,amount_2013,amount_2014,...,amount_03_yr5,amount_04_yr5,amount_05_yr5,amount_06_yr5,amount_07_yr5,amount_08_yr5,amount_09_yr5,amount_10_yr5,amount_11_yr5,amount_12_yr5
6,8a1875762c85932fff192ea126ccdff2,cohort13,50.0,50.0,0.0,0.0,0.0,0.0,50.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,a3f070e439d52de72ca62dc41f9b16a4,cohort13,50.0,50.0,0.0,0.0,0.0,0.0,50.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,bd323208dc78b1c74b62664b768f3176,cohort13,640.0,240.0,200.0,200.0,0.0,0.0,240.0,200.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,6dd6113f89f2766d3b0707ef2a46260c,cohort13,611.0,371.0,220.0,20.0,0.0,0.0,371.0,220.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,391f14831940fc7bc41df2cd7fb06030,cohort13,100.0,100.0,0.0,0.0,0.0,0.0,100.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
for col in cohort13.columns: 
    print(col)

id
cohort_yr
amount_total
amount_yr1
amount_yr2
amount_yr3
amount_yr4
amount_yr5
amount_2013
amount_2014
amount_2015
amount_2016
amount_2017
total_giving_years
max_consec_giving_years
count_total
count_2013
count_2014
count_2015
count_2016
count_2017
recovered_count
recovered_amount
lapsed_count
lapsed_amount
lapsed_amount_2013
lapsed_amount_2014
lapsed_amount_2015
lapsed_amount_2016
lapsed_amount_2017
upgraded_amount_2013
upgraded_amount_2014
upgraded_amount_2015
upgraded_amount_2016
upgraded_amount_2017
downgraded_amount_2013
downgraded_amount_2014
downgraded_amount_2015
downgraded_amount_2016
downgraded_amount_2017
amount_01_2013
amount_02_2013
amount_03_2013
amount_04_2013
amount_05_2013
amount_06_2013
amount_07_2013
amount_08_2013
amount_09_2013
amount_10_2013
amount_11_2013
amount_12_2013
amount_01_2014
amount_02_2014
amount_03_2014
amount_04_2014
amount_05_2014
amount_06_2014
amount_07_2014
amount_08_2014
amount_09_2014
amount_10_2014
amount_11_2014
amount_12_2014
amount_01_2015
amount_02_2015
amount_03_2015
amount_04_2015
amount_05_2015
amount_06_2015
amount_07_2015
amount_08_2015
amount_09_2015
amount_10_2015
amount_11_2015
amount_12_2015
amount_01_2016
amount_02_2016
amount_03_2016
amount_04_2016
amount_05_2016
amount_06_2016
amount_07_2016
amount_08_2016
amount_09_2016
amount_10_2016
amount_11_2016
amount_12_2016
amount_01_2017
amount_02_2017
amount_03_2017
amount_04_2017
amount_05_2017
amount_06_2017
amount_07_2017
amount_08_2017
amount_09_2017
amount_10_2017
amount_11_2017
amount_12_2017
count_yr1
count_yr2
count_yr3
count_yr4
count_yr5
amount_01_yr1
amount_02_yr1
amount_03_yr1
amount_04_yr1
amount_05_yr1
amount_06_yr1
amount_07_yr1
amount_08_yr1
amount_09_yr1
amount_10_yr1
amount_11_yr1
amount_12_yr1
amount_01_yr2
amount_02_yr2
amount_03_yr2
amount_04_yr2
amount_05_yr2
amount_06_yr2
amount_07_yr2
amount_08_yr2
amount_09_yr2
amount_10_yr2
amount_11_yr2
amount_12_yr2
amount_01_yr3
amount_02_yr3
amount_03_yr3
amount_04_yr3
amount_05_yr3
amount_06_yr3
amount_07_yr3
amount_08_yr3
amount_09_yr3
amount_10_yr3
amount_11_yr3
amount_12_yr3
amount_01_yr4
amount_02_yr4
amount_03_yr4
amount_04_yr4
amount_05_yr4
amount_06_yr4
amount_07_yr4
amount_08_yr4
amount_09_yr4
amount_10_yr4
amount_11_yr4
amount_12_yr4
amount_01_yr5
amount_02_yr5
amount_03_yr5
amount_04_yr5
amount_05_yr5
amount_06_yr5
amount_07_yr5
amount_08_yr5
amount_09_yr5
amount_10_yr5
amount_11_yr5
amount_12_yr5

In [5]:
print(cohort13.query('count_yr1 > 0').count()['id'])
print(cohort13.query('count_yr2 > 0').count()['id'])
print(cohort13.query('count_yr3 > 0').count()['id'])
print(cohort13.query('count_yr4 > 0').count()['id'])
print(cohort13.query('count_yr5 > 0').count()['id'])
print(cohort13.count_total.count())

320102
62142
42240
32642
26933
320102

In [6]:
# Repeat, non-consecutive donors
cohort13_repeat_all=cohort13[(cohort13['amount_yr1'] > 0) & ((cohort13['amount_yr2'] > 0) | (cohort13['amount_yr3'] > 0) | (cohort13['amount_yr4'] > 0) | (cohort13['amount_yr5'] > 0))]

In [7]:
cohort13_repeat_all.shape

(92276, 165)

In [8]:
# Repeat, 2 yr consecutive donors
cohort13_repeat_consec_2yr=cohort13[(cohort13['amount_yr1'] > 0) & (cohort13['amount_yr2'] > 0)]

In [9]:
cohort13_repeat_consec_2yr.shape

(62142, 165)

In [10]:
# Repeat, non-consecutive donors
cohort13_repeat_consec_3yr=cohort13[(cohort13['amount_yr1'] > 0) & (cohort13['amount_yr2'] > 0) & (cohort13['amount_yr3'] > 0)]

In [52]:
cohort13_repeat_consec_3yr.shape

(26085, 165)

In [47]:
# Repeat, 4 yr consecutive donors
cohort13_repeat_consec_4yr=cohort13[(cohort13['amount_yr1'] > 0) & (cohort13['amount_yr2'] > 0) & (cohort13['amount_yr3'] > 0) & (cohort13['amount_yr4'] > 0)]

In [53]:
cohort13_repeat_consec_4yr.shape

(14324, 165)

In [49]:
# Repeat, 5 yr consecutive donors
cohort13_repeat_consec_5yr=cohort13[(cohort13['amount_yr1'] > 0) & (cohort13['amount_yr2'] > 0) & (cohort13['amount_yr3'] > 0) & (cohort13['amount_yr4'] > 0) & (cohort13['amount_yr5'] > 0)]

In [54]:
cohort13_repeat_consec_5yr.shape

(9881, 165)

In [63]:
# donated y1, not yr2, and yr3 or yr4 or yr5
cohort13_repeat_nonconsec=cohort13[(cohort13['amount_yr1'] > 0) & (cohort13['amount_yr2'] == 0) & ((cohort13['amount_yr3'] > 0) | (cohort13['amount_yr4'] > 0) | (cohort13['amount_yr5'] > 0))]

In [65]:
cohort13_repeat_nonconsec.shape

(30134, 165)

In [66]:
nonconsec_to_yr1_but_later_cameback=cohort13_repeat_nonconsec.query('total_giving_years > 2')

In [67]:
nonconsec_to_yr1_but_later_cameback

,id,cohort_yr,amount_total,amount_yr1,amount_yr2,amount_yr3,amount_yr4,amount_yr5,amount_2013,amount_2014,...,amount_03_yr5,amount_04_yr5,amount_05_yr5,amount_06_yr5,amount_07_yr5,amount_08_yr5,amount_09_yr5,amount_10_yr5,amount_11_yr5,amount_12_yr5
56,0524c432dd77f69ba5918779516ea330,cohort13,140.00,25.00,0.0,0.00,25.0,90.0,25.00,0.0,...,0.0,25.0,0.0,0.0,30.0,0.0,0.0,0.0,25.0,0.0
96,abd482f47c69f6c98b0afd8c538d1d89,cohort13,4340.48,590.48,0.0,2250.00,0.0,1500.0,590.48,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,750.0,0.0
167,6aa572c772eb6c739958e42593d9124c,cohort13,329.00,84.00,0.0,185.00,50.0,10.0,84.00,0.0,...,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
214,23877c4697955580c513f024fb03d8cf,cohort13,320.00,35.00,0.0,150.00,135.0,0.0,35.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
218,8461a1d98ee4c0155261cf9e0c87b28d,cohort13,450.00,250.00,0.0,100.00,50.0,50.0,250.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1835166,332462fe3ec34763f0d7c81dc157422f,cohort13,150.00,50.00,0.0,50.00,50.0,0.0,50.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1837218,87cc20f8b66c19ca8724256f422b394c,cohort13,377.05,50.00,0.0,143.15,183.9,0.0,50.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1845607,4ce2815fb1241a3c175a1eb62c16617f,cohort13,140.00,30.00,0.0,60.00,0.0,50.0,30.00,0.0,...,0.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1845997,bd2e0c1fba0886a294f5c541db597be4,cohort13,60.00,10.00,0.0,25.00,0.0,25.0,10.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0
1865291,a0bc25ad2ef8c31146de8dffdedded96,cohort13,125.00,25.00,0.0,0.00,50.0,50.0,25.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50.0

In [63]:
# donated y1, (not yr2), yr3, (not yr4), (not yr5)

#donated yrs 12345
cohort13_repeat_nonconsec=cohort13[(cohort13['amount_yr1'] > 0) & (cohort13['amount_yr2'] == 0) & ((cohort13['amount_yr3'] > 0) | (cohort13['amount_yr4'] > 0) | (cohort13['amount_yr5'] > 0))]