### Dataframes in this notebook

* donations_df (original read of csv)
* donations (additional columns, converted cents to dollars, etc.)
* donations_13to17 (only donors who donated 2013-2017; removed other cohort) <-- PICKLE created
* cohort13, cohort14, cohort15, cohort16, cohort17 <-- PICKLES created
* cohort_stats <-- PICKLE created
* year1, year2, year3, year4, year5 <--PICKLES created
* donations2013, donations2014, donations2015, donations2016, donations2017

In [1]:
import numpy as np
import pandas as pd
import plotly.express as px

import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style("white")
%matplotlib inline

In [2]:
donations_df=pd.read_csv('../data/donation_export.csv')

### 1. Data clean up / create master dataframe

In [3]:
# rename columns
donations_df.columns=[
"id",
"lapsed_amount",
"recovered_amount",
"lapsed_count",
"recovered_count",
"max_consec_giving_years",
"total_giving_years",
"amount_2013",
"amount_2014",
"amount_2015",
"amount_2016",
"amount_2017",
"count_2013",
"count_2014",
"count_2015",
"count_2016",
"count_2017",    
"lapsed_amount_2013",
"lapsed_amount_2014",
"lapsed_amount_2015",
"lapsed_amount_2016",
"lapsed_amount_2017",
"upgraded_amount_2013",
"upgraded_amount_2014",
"upgraded_amount_2015",
"upgraded_amount_2016",
"upgraded_amount_2017",
"downgraded_amount_2013",
"downgraded_amount_2014",
"downgraded_amount_2015",
"downgraded_amount_2016",
"downgraded_amount_2017",
"amount_01_2013",
"amount_02_2013",
"amount_03_2013",
"amount_04_2013",
"amount_05_2013",
"amount_06_2013",
"amount_07_2013",
"amount_08_2013",
"amount_09_2013",
"amount_10_2013",
"amount_11_2013",
"amount_12_2013",
"amount_01_2014",
"amount_02_2014",
"amount_03_2014",
"amount_04_2014",
"amount_05_2014",
"amount_06_2014",
"amount_07_2014",
"amount_08_2014",
"amount_09_2014",
"amount_10_2014",
"amount_11_2014",
"amount_12_2014",
"amount_01_2015",
"amount_02_2015",
"amount_03_2015",
"amount_04_2015",
"amount_05_2015",
"amount_06_2015",
"amount_07_2015",
"amount_08_2015",
"amount_09_2015",
"amount_10_2015",
"amount_11_2015",
"amount_12_2015",
"amount_01_2016",
"amount_02_2016",
"amount_03_2016",
"amount_04_2016",
"amount_05_2016",
"amount_06_2016",
"amount_07_2016",
"amount_08_2016",
"amount_09_2016",
"amount_10_2016",
"amount_11_2016",
"amount_12_2016",
"amount_01_2017",
"amount_02_2017",
"amount_03_2017",
"amount_04_2017",
"amount_05_2017",
"amount_06_2017",
"amount_07_2017",
"amount_08_2017",
"amount_09_2017",
"amount_10_2017",
"amount_11_2017",
"amount_12_2017"
]

In [4]:
donations_df.head()

,id,lapsed_amount,recovered_amount,lapsed_count,recovered_count,max_consec_giving_years,total_giving_years,amount_2013,amount_2014,amount_2015,...,amount_03_2017,amount_04_2017,amount_05_2017,amount_06_2017,amount_07_2017,amount_08_2017,amount_09_2017,amount_10_2017,amount_11_2017,amount_12_2017
0,1f4b5b6e68445c6c4a0509b3aca93f38,0,0,0,0,4,4,0,0,1821138,...,1929073,0,0,0,182290,134853,0,1327669,2615659,74954.0
1,4aaab6d244bf3599682239ed5591af8a,2500,0,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
2,0b0765dc9c759adc48a07688ba25e94e,4000,0,1,0,2,2,0,0,2000,...,0,0,0,0,0,0,0,0,0,NaN
3,377944ad61f72d800b25ec1862aec363,2500,0,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
4,6d5b22d39e68c656071a842732c63a0c,2500,10000,1,1,2,3,0,0,7000,...,0,0,0,0,0,0,0,0,0,NaN

In [5]:
#replace nans in Dec 2017 amount donated column with zeros.  **Need to confirm with Pete this is ok**
donations_df['amount_12_2017'] = donations_df['amount_12_2017'].fillna(0)

In [6]:
#create new dataframe with all "amount" columns to convert from cents to dollars
amount_columns = donations_df[[
'lapsed_amount',
'recovered_amount',
"amount_2013",
"amount_2014",
"amount_2015",
"amount_2016",
"amount_2017",
"lapsed_amount_2013",
"lapsed_amount_2014",
"lapsed_amount_2015",
"lapsed_amount_2016",
"lapsed_amount_2017",
"upgraded_amount_2013",
"upgraded_amount_2014",
"upgraded_amount_2015",
"upgraded_amount_2016",
"upgraded_amount_2017",
"downgraded_amount_2013",
"downgraded_amount_2014",
"downgraded_amount_2015",
"downgraded_amount_2016",
"downgraded_amount_2017",
"amount_01_2013",
"amount_02_2013",
"amount_03_2013",
"amount_04_2013",
"amount_05_2013",
"amount_06_2013",
"amount_07_2013",
"amount_08_2013",
"amount_09_2013",
"amount_10_2013",
"amount_11_2013",
"amount_12_2013",
"amount_01_2014",
"amount_02_2014",
"amount_03_2014",
"amount_04_2014",
"amount_05_2014",
"amount_06_2014",
"amount_07_2014",
"amount_08_2014",
"amount_09_2014",
"amount_10_2014",
"amount_11_2014",
"amount_12_2014",
"amount_01_2015",
"amount_02_2015",
"amount_03_2015",
"amount_04_2015",
"amount_05_2015",
"amount_06_2015",
"amount_07_2015",
"amount_08_2015",
"amount_09_2015",
"amount_10_2015",
"amount_11_2015",
"amount_12_2015",
"amount_01_2016",
"amount_02_2016",
"amount_03_2016",
"amount_04_2016",
"amount_05_2016",
"amount_06_2016",
"amount_07_2016",
"amount_08_2016",
"amount_09_2016",
"amount_10_2016",
"amount_11_2016",
"amount_12_2016",
"amount_01_2017",
"amount_02_2017",
"amount_03_2017",
"amount_04_2017",
"amount_05_2017",
"amount_06_2017",
"amount_07_2017",
"amount_08_2017",
"amount_09_2017",
"amount_10_2017",
"amount_11_2017",
"amount_12_2017"]].copy()

In [7]:
#create new dataframe with non-amount columns
non_amount_columns = donations_df[[
'id',
"lapsed_count",
"recovered_count",
"max_consec_giving_years",
"total_giving_years",
"count_2013",
"count_2014",
"count_2015",
"count_2016",
"count_2017"]].copy()

In [8]:
#convert cents to dollars in all "amount" columns
amount_columns=amount_columns/100

In [9]:
#merge amount and non_amount dataframes back into one
donations=non_amount_columns.merge(amount_columns, left_index=True, right_index=True)

In [10]:
#create new column "amount_total", which equals a donor's total donation amount 2013-2017
donations['amount_total']=donations['amount_2013'] + donations['amount_2014'] + donations['amount_2015'] + donations['amount_2016'] + donations['amount_2017']

In [11]:
#create new column "count_total", which equals a donor's total number of donations 2013-2017
donations['count_total']=donations['count_2013'] + donations['count_2014'] + donations['count_2015'] + donations['count_2016'] + donations['count_2017']

In [14]:
#create cohorts (determined by the year a donor first donated)
donations.loc[(donations['amount_2013'] > 0), 'cohort_yr'] = 'cohort13'  
donations.loc[(donations['amount_2013'] == 0) & (donations['amount_2014'] > 0), 'cohort_yr'] = 'cohort14'  
donations.loc[(donations['amount_2013'] == 0) & (donations['amount_2014'] == 0) & (donations['amount_2015'] > 0), 'cohort_yr'] = 'cohort15'
donations.loc[(donations['amount_2013'] == 0) & (donations['amount_2014'] == 0) & (donations['amount_2015'] == 0) & (donations['amount_2016'] > 0), 'cohort_yr'] = 'cohort16'
donations.loc[(donations['amount_2013'] == 0) & (donations['amount_2014'] == 0) & (donations['amount_2015'] == 0) & (donations['amount_2016'] == 0) & (donations['amount_2017'] > 0), 'cohort_yr'] = 'cohort17'
donations.loc[(donations['amount_2013'] == 0) & (donations['amount_2014'] == 0) & (donations['amount_2015'] == 0) & (donations['amount_2016'] == 0) & (donations['amount_2017'] == 0), 'cohort_yr'] = 'other'

In [15]:
#create new column "amount_y1", which is amount donated by donor the first year they donate
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_yr1'] = donations.amount_2013
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_yr1'] = donations.amount_2014
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_yr1'] = donations.amount_2015
donations.loc[(donations['cohort_yr'] == 'cohort16'), 'amount_yr1'] = donations.amount_2016
donations.loc[(donations['cohort_yr'] == 'cohort17'), 'amount_yr1'] = donations.amount_2017

In [16]:
#create new column "amount_y2", which is amount donated by donor the second year they donate
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_yr2'] = donations.amount_2014
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_yr2'] = donations.amount_2015
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_yr2'] = donations.amount_2016
donations.loc[(donations['cohort_yr'] == 'cohort16'), 'amount_yr2'] = donations.amount_2017

In [17]:
#create new column "amount_y3", which is amount donated by donor the third year they donate
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_yr3'] = donations.amount_2015
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_yr3'] = donations.amount_2016
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_yr3'] = donations.amount_2017

In [18]:
#create new column "amount_y4", which is amount donated by donor the fourth year they donate
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_yr4'] = donations.amount_2016
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_yr4'] = donations.amount_2017

In [19]:
#create new column "amount_yr5", which is amount donated by donor the fifth year they donate
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_yr5'] = donations.amount_2017

In [20]:
#reorder columns
donations = donations[[
'id',
'cohort_yr',
'amount_total',
'amount_yr1',
'amount_yr2',
'amount_yr3',
'amount_yr4',
'amount_yr5',
'amount_2013',
'amount_2014',
'amount_2015',
'amount_2016',
'amount_2017',
'total_giving_years',
'max_consec_giving_years',
'count_total',
'count_2013',
'count_2014',
'count_2015',
'count_2016',
'count_2017',
'recovered_count',
'recovered_amount',
'lapsed_count',
'lapsed_amount',
'lapsed_amount_2013',
'lapsed_amount_2014',
'lapsed_amount_2015',
'lapsed_amount_2016',
'lapsed_amount_2017',
'upgraded_amount_2013',
'upgraded_amount_2014',
'upgraded_amount_2015',
'upgraded_amount_2016',
'upgraded_amount_2017',
'downgraded_amount_2013',
'downgraded_amount_2014',
'downgraded_amount_2015',
'downgraded_amount_2016',
'downgraded_amount_2017',
'amount_01_2013',
'amount_02_2013',
'amount_03_2013',
'amount_04_2013',
'amount_05_2013',
'amount_06_2013',
'amount_07_2013',
'amount_08_2013',
'amount_09_2013',
'amount_10_2013',
'amount_11_2013',
'amount_12_2013',
'amount_01_2014',
'amount_02_2014',
'amount_03_2014',
'amount_04_2014',
'amount_05_2014',
'amount_06_2014',
'amount_07_2014',
'amount_08_2014',
'amount_09_2014',
'amount_10_2014',
'amount_11_2014',
'amount_12_2014',
'amount_01_2015',
'amount_02_2015',
'amount_03_2015',
'amount_04_2015',
'amount_05_2015',
'amount_06_2015',
'amount_07_2015',
'amount_08_2015',
'amount_09_2015',
'amount_10_2015',
'amount_11_2015',
'amount_12_2015',
'amount_01_2016',
'amount_02_2016',
'amount_03_2016',
'amount_04_2016',
'amount_05_2016',
'amount_06_2016',
'amount_07_2016',
'amount_08_2016',
'amount_09_2016',
'amount_10_2016',
'amount_11_2016',
'amount_12_2016',
'amount_01_2017',
'amount_02_2017',
'amount_03_2017',
'amount_04_2017',
'amount_05_2017',
'amount_06_2017',
'amount_07_2017',
'amount_08_2017',
'amount_09_2017',
'amount_10_2017',
'amount_11_2017',
'amount_12_2017'
]]

In [21]:
#create new column "count_yr1", which is # donations made by donor the first year they donate
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'count_yr1'] = donations.count_2013
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'count_yr1'] = donations.count_2014
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'count_yr1'] = donations.count_2015
donations.loc[(donations['cohort_yr'] == 'cohort16'), 'count_yr1'] = donations.count_2016
donations.loc[(donations['cohort_yr'] == 'cohort17'), 'count_yr1'] = donations.count_2017

In [22]:
#create new column "count_yr2", which is # donations made by donor the first year they donate
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'count_yr2'] = donations.count_2014
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'count_yr2'] = donations.count_2015
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'count_yr2'] = donations.count_2016
donations.loc[(donations['cohort_yr'] == 'cohort16'), 'count_yr2'] = donations.count_2017

In [23]:
#create new column "count_yr3", which is # donations made by donor the first year they donate
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'count_yr3'] = donations.count_2015
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'count_yr3'] = donations.count_2016
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'count_yr3'] = donations.count_2017

In [24]:
#create new column "count_yr4", which is # donations made by donor the first year they donate
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'count_yr4'] = donations.count_2016
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'count_yr4'] = donations.count_2017

In [25]:
#create new column "count_yr5", which is # donations made by donor the first year they donate
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'count_yr5'] = donations.count_2017

In [26]:
#create columns for cohort13--amounts donated per month by donor year

donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_01_yr1'] = donations.amount_01_2013
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_02_yr1'] = donations.amount_02_2013
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_03_yr1'] = donations.amount_03_2013
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_04_yr1'] = donations.amount_04_2013
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_05_yr1'] = donations.amount_05_2013
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_06_yr1'] = donations.amount_06_2013
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_07_yr1'] = donations.amount_07_2013
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_08_yr1'] = donations.amount_08_2013
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_09_yr1'] = donations.amount_09_2013
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_10_yr1'] = donations.amount_10_2013
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_11_yr1'] = donations.amount_11_2013
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_12_yr1'] = donations.amount_12_2013
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_01_yr2'] = donations.amount_01_2014
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_02_yr2'] = donations.amount_02_2014
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_03_yr2'] = donations.amount_03_2014
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_04_yr2'] = donations.amount_04_2014
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_05_yr2'] = donations.amount_05_2014
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_06_yr2'] = donations.amount_06_2014
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_07_yr2'] = donations.amount_07_2014
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_08_yr2'] = donations.amount_08_2014
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_09_yr2'] = donations.amount_09_2014
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_10_yr2'] = donations.amount_10_2014
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_11_yr2'] = donations.amount_11_2014
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_12_yr2'] = donations.amount_12_2014
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_01_yr3'] = donations.amount_01_2015
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_02_yr3'] = donations.amount_02_2015
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_03_yr3'] = donations.amount_03_2015
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_04_yr3'] = donations.amount_04_2015
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_05_yr3'] = donations.amount_05_2015
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_06_yr3'] = donations.amount_06_2015
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_07_yr3'] = donations.amount_07_2015
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_08_yr3'] = donations.amount_08_2015
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_09_yr3'] = donations.amount_09_2015
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_10_yr3'] = donations.amount_10_2015
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_11_yr3'] = donations.amount_11_2015
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_12_yr3'] = donations.amount_12_2015
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_01_yr4'] = donations.amount_01_2016
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_02_yr4'] = donations.amount_02_2016
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_03_yr4'] = donations.amount_03_2016
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_04_yr4'] = donations.amount_04_2016
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_05_yr4'] = donations.amount_05_2016
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_06_yr4'] = donations.amount_06_2016
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_07_yr4'] = donations.amount_07_2016
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_08_yr4'] = donations.amount_08_2016
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_09_yr4'] = donations.amount_09_2016
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_10_yr4'] = donations.amount_10_2016
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_11_yr4'] = donations.amount_11_2016
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_12_yr4'] = donations.amount_12_2016
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_01_yr5'] = donations.amount_01_2017
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_02_yr5'] = donations.amount_02_2017
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_03_yr5'] = donations.amount_03_2017
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_04_yr5'] = donations.amount_04_2017
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_05_yr5'] = donations.amount_05_2017
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_06_yr5'] = donations.amount_06_2017
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_07_yr5'] = donations.amount_07_2017
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_08_yr5'] = donations.amount_08_2017
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_09_yr5'] = donations.amount_09_2017
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_10_yr5'] = donations.amount_10_2017
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_11_yr5'] = donations.amount_11_2017
donations.loc[(donations['cohort_yr'] == 'cohort13'), 'amount_12_yr5'] = donations.amount_12_2017

In [27]:
#create columns for cohort14--amounts donated per month by donor year

donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_01_yr1'] = donations.amount_01_2014
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_02_yr1'] = donations.amount_02_2014
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_03_yr1'] = donations.amount_03_2014
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_04_yr1'] = donations.amount_04_2014
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_05_yr1'] = donations.amount_05_2014
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_06_yr1'] = donations.amount_06_2014
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_07_yr1'] = donations.amount_07_2014
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_08_yr1'] = donations.amount_08_2014
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_09_yr1'] = donations.amount_09_2014
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_10_yr1'] = donations.amount_10_2014
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_11_yr1'] = donations.amount_11_2014
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_12_yr1'] = donations.amount_12_2014
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_01_yr2'] = donations.amount_01_2015
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_02_yr2'] = donations.amount_02_2015
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_03_yr2'] = donations.amount_03_2015
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_04_yr2'] = donations.amount_04_2015
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_05_yr2'] = donations.amount_05_2015
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_06_yr2'] = donations.amount_06_2015
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_07_yr2'] = donations.amount_07_2015
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_08_yr2'] = donations.amount_08_2015
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_09_yr2'] = donations.amount_09_2015
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_10_yr2'] = donations.amount_10_2015
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_11_yr2'] = donations.amount_11_2015
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_12_yr2'] = donations.amount_12_2015
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_01_yr3'] = donations.amount_01_2016
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_02_yr3'] = donations.amount_02_2016
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_03_yr3'] = donations.amount_03_2016
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_04_yr3'] = donations.amount_04_2016
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_05_yr3'] = donations.amount_05_2016
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_06_yr3'] = donations.amount_06_2016
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_07_yr3'] = donations.amount_07_2016
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_08_yr3'] = donations.amount_08_2016
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_09_yr3'] = donations.amount_09_2016
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_10_yr3'] = donations.amount_10_2016
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_11_yr3'] = donations.amount_11_2016
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_12_yr3'] = donations.amount_12_2016
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_01_yr4'] = donations.amount_01_2017
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_02_yr4'] = donations.amount_02_2017
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_03_yr4'] = donations.amount_03_2017
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_04_yr4'] = donations.amount_04_2017
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_05_yr4'] = donations.amount_05_2017
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_06_yr4'] = donations.amount_06_2017
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_07_yr4'] = donations.amount_07_2017
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_08_yr4'] = donations.amount_08_2017
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_09_yr4'] = donations.amount_09_2017
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_10_yr4'] = donations.amount_10_2017
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_11_yr4'] = donations.amount_11_2017
donations.loc[(donations['cohort_yr'] == 'cohort14'), 'amount_12_yr4'] = donations.amount_12_2017

In [28]:
#create columns for cohort15--amounts donated per month by donor year

donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_01_yr1'] = donations.amount_01_2015
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_02_yr1'] = donations.amount_02_2015
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_03_yr1'] = donations.amount_03_2015
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_04_yr1'] = donations.amount_04_2015
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_05_yr1'] = donations.amount_05_2015
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_06_yr1'] = donations.amount_06_2015
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_07_yr1'] = donations.amount_07_2015
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_08_yr1'] = donations.amount_08_2015
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_09_yr1'] = donations.amount_09_2015
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_10_yr1'] = donations.amount_10_2015
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_11_yr1'] = donations.amount_11_2015
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_12_yr1'] = donations.amount_12_2015
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_01_yr2'] = donations.amount_01_2016
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_02_yr2'] = donations.amount_02_2016
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_03_yr2'] = donations.amount_03_2016
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_04_yr2'] = donations.amount_04_2016
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_05_yr2'] = donations.amount_05_2016
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_06_yr2'] = donations.amount_06_2016
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_07_yr2'] = donations.amount_07_2016
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_08_yr2'] = donations.amount_08_2016
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_09_yr2'] = donations.amount_09_2016
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_10_yr2'] = donations.amount_10_2016
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_11_yr2'] = donations.amount_11_2016
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_12_yr2'] = donations.amount_12_2016
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_01_yr3'] = donations.amount_01_2017
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_02_yr3'] = donations.amount_02_2017
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_03_yr3'] = donations.amount_03_2017
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_04_yr3'] = donations.amount_04_2017
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_05_yr3'] = donations.amount_05_2017
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_06_yr3'] = donations.amount_06_2017
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_07_yr3'] = donations.amount_07_2017
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_08_yr3'] = donations.amount_08_2017
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_09_yr3'] = donations.amount_09_2017
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_10_yr3'] = donations.amount_10_2017
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_11_yr3'] = donations.amount_11_2017
donations.loc[(donations['cohort_yr'] == 'cohort15'), 'amount_12_yr3'] = donations.amount_12_2017

In [29]:
#create columns for cohort16--amounts donated per month by donor year

donations.loc[(donations['cohort_yr'] == 'cohort16'), 'amount_01_yr1'] = donations.amount_01_2016
donations.loc[(donations['cohort_yr'] == 'cohort16'), 'amount_02_yr1'] = donations.amount_02_2016
donations.loc[(donations['cohort_yr'] == 'cohort16'), 'amount_03_yr1'] = donations.amount_03_2016
donations.loc[(donations['cohort_yr'] == 'cohort16'), 'amount_04_yr1'] = donations.amount_04_2016
donations.loc[(donations['cohort_yr'] == 'cohort16'), 'amount_05_yr1'] = donations.amount_05_2016
donations.loc[(donations['cohort_yr'] == 'cohort16'), 'amount_06_yr1'] = donations.amount_06_2016
donations.loc[(donations['cohort_yr'] == 'cohort16'), 'amount_07_yr1'] = donations.amount_07_2016
donations.loc[(donations['cohort_yr'] == 'cohort16'), 'amount_08_yr1'] = donations.amount_08_2016
donations.loc[(donations['cohort_yr'] == 'cohort16'), 'amount_09_yr1'] = donations.amount_09_2016
donations.loc[(donations['cohort_yr'] == 'cohort16'), 'amount_10_yr1'] = donations.amount_10_2016
donations.loc[(donations['cohort_yr'] == 'cohort16'), 'amount_11_yr1'] = donations.amount_11_2016
donations.loc[(donations['cohort_yr'] == 'cohort16'), 'amount_12_yr1'] = donations.amount_12_2016
donations.loc[(donations['cohort_yr'] == 'cohort16'), 'amount_01_yr2'] = donations.amount_01_2017
donations.loc[(donations['cohort_yr'] == 'cohort16'), 'amount_02_yr2'] = donations.amount_02_2017
donations.loc[(donations['cohort_yr'] == 'cohort16'), 'amount_03_yr2'] = donations.amount_03_2017
donations.loc[(donations['cohort_yr'] == 'cohort16'), 'amount_04_yr2'] = donations.amount_04_2017
donations.loc[(donations['cohort_yr'] == 'cohort16'), 'amount_05_yr2'] = donations.amount_05_2017
donations.loc[(donations['cohort_yr'] == 'cohort16'), 'amount_06_yr2'] = donations.amount_06_2017
donations.loc[(donations['cohort_yr'] == 'cohort16'), 'amount_07_yr2'] = donations.amount_07_2017
donations.loc[(donations['cohort_yr'] == 'cohort16'), 'amount_08_yr2'] = donations.amount_08_2017
donations.loc[(donations['cohort_yr'] == 'cohort16'), 'amount_09_yr2'] = donations.amount_09_2017
donations.loc[(donations['cohort_yr'] == 'cohort16'), 'amount_10_yr2'] = donations.amount_10_2017
donations.loc[(donations['cohort_yr'] == 'cohort16'), 'amount_11_yr2'] = donations.amount_11_2017
donations.loc[(donations['cohort_yr'] == 'cohort16'), 'amount_12_yr2'] = donations.amount_12_2017

In [30]:
#create columns for cohort17--amounts donated per month by donor year

donations.loc[(donations['cohort_yr'] == 'cohort17'), 'amount_01_yr1'] = donations.amount_01_2017
donations.loc[(donations['cohort_yr'] == 'cohort17'), 'amount_02_yr1'] = donations.amount_02_2017
donations.loc[(donations['cohort_yr'] == 'cohort17'), 'amount_03_yr1'] = donations.amount_03_2017
donations.loc[(donations['cohort_yr'] == 'cohort17'), 'amount_04_yr1'] = donations.amount_04_2017
donations.loc[(donations['cohort_yr'] == 'cohort17'), 'amount_05_yr1'] = donations.amount_05_2017
donations.loc[(donations['cohort_yr'] == 'cohort17'), 'amount_06_yr1'] = donations.amount_06_2017
donations.loc[(donations['cohort_yr'] == 'cohort17'), 'amount_07_yr1'] = donations.amount_07_2017
donations.loc[(donations['cohort_yr'] == 'cohort17'), 'amount_08_yr1'] = donations.amount_08_2017
donations.loc[(donations['cohort_yr'] == 'cohort17'), 'amount_09_yr1'] = donations.amount_09_2017
donations.loc[(donations['cohort_yr'] == 'cohort17'), 'amount_10_yr1'] = donations.amount_10_2017
donations.loc[(donations['cohort_yr'] == 'cohort17'), 'amount_11_yr1'] = donations.amount_11_2017
donations.loc[(donations['cohort_yr'] == 'cohort17'), 'amount_12_yr1'] = donations.amount_12_2017

In [ ]:
# print(donations.amount_01_yr2.sum())
# print(donations.amount_02_yr2.sum())
# print(donations.amount_03_yr2.sum())
# print(donations.amount_04_yr2.sum())
# print(donations.amount_05_yr2.sum())
# print(donations.amount_06_yr2.sum())
# print(donations.amount_07_yr2.sum())
# print(donations.amount_08_yr2.sum())
# print(donations.amount_09_yr2.sum())
# print(donations.amount_10_yr2.sum())
# print(donations.amount_11_yr2.sum())
# print(donations.amount_12_yr2.sum())

### 2. Create dataframe isolating donations made 2013-2017

In [31]:
# Remove "other" cohort (donors who did not make donation 2013-2017)
donations_13to17=donations.query('cohort_yr != "other"')

In [32]:
donations.groupby('cohort_yr').count()['id']

cohort_yr
cohort13    320102
cohort14    320675
cohort15    355141
cohort16    445598
cohort17    434994
other       148044
Name: id, dtype: int64

In [33]:
donations_13to17.groupby('cohort_yr').count()['id']

cohort_yr
cohort13    320102
cohort14    320675
cohort15    355141
cohort16    445598
cohort17    434994
Name: id, dtype: int64

In [34]:
donations_13to17.to_pickle('donations_13to17.pkl')

### 3. Create cohort dataframes (based on first year donated)

In [35]:
#divide into cohorts
other = donations.query("cohort_yr == 'other'").reindex()
cohort13 = donations_13to17.query("cohort_yr == 'cohort13'").reindex()
cohort14 = donations_13to17.query("cohort_yr == 'cohort14'").reindex()
cohort15 = donations_13to17.query("cohort_yr == 'cohort15'").reindex()
cohort16 = donations_13to17.query("cohort_yr == 'cohort16'").reindex()
cohort17 = donations_13to17.query("cohort_yr == 'cohort17'").reindex()

In [36]:
print(other.shape)
print(cohort13.shape)
print(cohort14.shape)
print(cohort15.shape)
print(cohort16.shape)
print(cohort17.shape)

(148044, 165)
(320102, 165)
(320675, 165)
(355141, 165)
(445598, 165)
(434994, 165)

In [37]:
cohort13.to_pickle('cohort13.pkl')
cohort14.to_pickle('cohort14.pkl')
cohort15.to_pickle('cohort15.pkl')
cohort16.to_pickle('cohort16.pkl')
cohort17.to_pickle('cohort17.pkl')

### 4. Create cohort_stats dataframe

In [38]:
# stats by cohort YEAR 1

# number of donors per cohort class in their first year
no_cohort_donors_13_y1 = cohort13['id'].count() 
no_cohort_donors_14_y1 = cohort14['id'].count() 
no_cohort_donors_15_y1 = cohort15['id'].count() 
no_cohort_donors_16_y1 = cohort16['id'].count() 
no_cohort_donors_17_y1 = cohort17['id'].count() 

# number of donations cohort class made in their first year
no_cohort13_donations_y1 = cohort13['count_2013'].sum() 
no_cohort14_donations_y1 = cohort14['count_2014'].sum()  
no_cohort15_donations_y1 = cohort15['count_2015'].sum() 
no_cohort16_donations_y1 = cohort16['count_2016'].sum() 
no_cohort17_donations_y1 = cohort17['count_2017'].sum() 

# $ amount of donations cohort class made in their first year
amt_cohort13_donations_y1 = cohort13['amount_2013'].sum() 
amt_cohort14_donations_y1 = cohort14['amount_2014'].sum()  
amt_cohort15_donations_y1 = cohort15['amount_2015'].sum() 
amt_cohort16_donations_y1 = cohort16['amount_2016'].sum() 
amt_cohort17_donations_y1 = cohort17['amount_2017'].sum()

In [39]:
# stats by cohort YEAR 2

# number of donors per cohort class in their second year
no_cohort_donors_13_y2 = cohort13.query('amount_2014 > 0').count()['id'] 
no_cohort_donors_14_y2 = cohort14.query('amount_2015 > 0').count()['id'] 
no_cohort_donors_15_y2 = cohort15.query('amount_2016 > 0').count()['id']
no_cohort_donors_16_y2 = cohort16.query('amount_2017 > 0').count()['id']

# number of donations cohort class made in their second year
no_cohort13_donations_y2 = cohort13['count_2014'].sum() 
no_cohort14_donations_y2 = cohort14['count_2015'].sum()  
no_cohort15_donations_y2 = cohort15['count_2016'].sum() 
no_cohort16_donations_y2 = cohort16['count_2017'].sum() 

# $ amount of donations cohort class made in their second year
amt_cohort13_donations_y2 = cohort13['amount_2014'].sum() 
amt_cohort14_donations_y2 = cohort14['amount_2015'].sum()  
amt_cohort15_donations_y2 = cohort15['amount_2016'].sum() 
amt_cohort16_donations_y2 = cohort16['amount_2017'].sum()

In [40]:
# stats by cohort YEAR 3

# number of donors per cohort class in their third year
no_cohort_donors_13_y3 = cohort13.query('amount_2015 > 0').count()['id'] 
no_cohort_donors_14_y3 = cohort14.query('amount_2016 > 0').count() ['id']
no_cohort_donors_15_y3 = cohort15.query('amount_2017 > 0').count()['id']

# number of donations cohort class made in their third year
no_cohort13_donations_y3 = cohort13['count_2015'].sum() 
no_cohort14_donations_y3 = cohort14['count_2016'].sum()  
no_cohort15_donations_y3 = cohort15['count_2017'].sum() 

# $ amount of donations cohort class made in their third year
amt_cohort13_donations_y3 = cohort13['amount_2015'].sum() 
amt_cohort14_donations_y3 = cohort14['amount_2016'].sum()  
amt_cohort15_donations_y3 = cohort15['amount_2017'].sum()

In [41]:
# stats by cohort YEAR 4

# number of donors per cohort class in their fourth year
no_cohort_donors_13_y4 = cohort13.query('amount_2016 > 0').count()['id'] 
no_cohort_donors_14_y4 = cohort14.query('amount_2017 > 0').count()['id'] 

# number of donations cohort class made in their fourth year
no_cohort13_donations_y4 = cohort13['count_2016'].sum() 
no_cohort14_donations_y4 = cohort14['count_2017'].sum()  

# $ amount of donations cohort class made in their fourth year
amt_cohort13_donations_y4 = cohort13['amount_2016'].sum() 
amt_cohort14_donations_y4 = cohort14['amount_2017'].sum()

In [42]:
# stats by cohort YEAR 5

# number of donors per cohort class in their fifth year
no_cohort_donors_13_y5 = cohort13.query('amount_2017 > 0').count()['id'] 

# number of donations cohort class made in their fifth year
no_cohort13_donations_y5 = cohort13['count_2017'].sum() 

# $ amount of donations cohort class made in their fifth year
amt_cohort13_donations_y5 = cohort13['amount_2017'].sum()

In [ ]:
# print(f'cohort13 --->')
# print(no_cohort_donors_13_y1)
# print(no_cohort_donors_13_y2)
# print(no_cohort_donors_13_y3)
# print(no_cohort_donors_13_y4)
# print(no_cohort_donors_13_y5)

# print(no_cohort13_donations_y1)
# print(no_cohort13_donations_y2)
# print(no_cohort13_donations_y3)
# print(no_cohort13_donations_y4)
# print(no_cohort13_donations_y5)

# print(amt_cohort13_donations_y1)
# print(amt_cohort13_donations_y2)
# print(amt_cohort13_donations_y3)
# print(amt_cohort13_donations_y4)
# print(amt_cohort13_donations_y5)

# print(f'cohort14 --->')
# print(no_cohort_donors_14_y1)
# print(no_cohort_donors_14_y2)
# print(no_cohort_donors_14_y3)
# print(no_cohort_donors_14_y4)

# print(no_cohort14_donations_y1)
# print(no_cohort14_donations_y2)
# print(no_cohort14_donations_y3)
# print(no_cohort14_donations_y4)

# print(amt_cohort14_donations_y1)
# print(amt_cohort14_donations_y2)
# print(amt_cohort14_donations_y3)
# print(amt_cohort14_donations_y4)

# print(f'cohort15 --->')
# print(no_cohort_donors_15_y1)
# print(no_cohort_donors_15_y2)
# print(no_cohort_donors_15_y3)

# print(no_cohort15_donations_y1)
# print(no_cohort15_donations_y2)
# print(no_cohort15_donations_y3)

# print(amt_cohort15_donations_y1)
# print(amt_cohort15_donations_y2)
# print(amt_cohort15_donations_y3)

# print(f'cohort16 --->')
# print(no_cohort_donors_16_y1)
# print(no_cohort_donors_16_y2)

# print(no_cohort16_donations_y1)
# print(no_cohort16_donations_y2)

# print(amt_cohort16_donations_y1)
# print(amt_cohort16_donations_y2)

# print(f'cohort17 --->')
# print(no_cohort_donors_17_y1)

# print(no_cohort17_donations_y1)

# print(amt_cohort17_donations_y1)

In [ ]:
# print(f'yr 1 --->')
# print(no_cohort13_donations_y1)
# print(no_cohort14_donations_y1)
# print(no_cohort15_donations_y1)
# print(no_cohort16_donations_y1)
# print(no_cohort17_donations_y1)

# print(f'yr 2 --->')
# print(no_cohort13_donations_y2)
# print(no_cohort14_donations_y2)
# print(no_cohort15_donations_y2)
# print(no_cohort16_donations_y2)

# print(f'yr 3 --->')
# print(no_cohort13_donations_y3)
# print(no_cohort14_donations_y3)
# print(no_cohort15_donations_y3)

# print(f'yr 4 --->')
# print(no_cohort13_donations_y4)
# print(no_cohort14_donations_y4)

# print(f'yr 5 --->')
# print(no_cohort13_donations_y5)

In [43]:
cohort_stats={'year':[2013, 2014, 2015, 2016, 2017],
              'no_cohort_donors_y1':[no_cohort_donors_13_y1, no_cohort_donors_14_y1, no_cohort_donors_15_y1, no_cohort_donors_16_y1, no_cohort_donors_17_y1],
              'no_donations_y1':[no_cohort13_donations_y1, no_cohort14_donations_y1, no_cohort15_donations_y1, no_cohort16_donations_y1, no_cohort17_donations_y1],
              'amt_donated_y1':[amt_cohort13_donations_y1, amt_cohort14_donations_y1, amt_cohort15_donations_y1, amt_cohort16_donations_y1, amt_cohort17_donations_y1],
              'no_cohort_donors_y2':[no_cohort_donors_13_y2, no_cohort_donors_14_y2, no_cohort_donors_15_y2, no_cohort_donors_16_y2, np.nan],
              'no_donations_y2':[no_cohort13_donations_y2, no_cohort14_donations_y2, no_cohort15_donations_y2, no_cohort16_donations_y2, np.nan],
              'amt_donated_y2':[amt_cohort13_donations_y2, amt_cohort14_donations_y2, amt_cohort15_donations_y2, amt_cohort16_donations_y2, np.nan],
              'no_cohort_donors_y3':[no_cohort_donors_13_y3, no_cohort_donors_14_y3, no_cohort_donors_15_y3, np.nan, np.nan],
              'no_donations_y3':[no_cohort13_donations_y3, no_cohort14_donations_y3, no_cohort15_donations_y3, np.nan, np.nan],
              'amt_donated_y3':[amt_cohort13_donations_y3, amt_cohort14_donations_y3, amt_cohort15_donations_y3, np.nan, np.nan],
              'no_cohort_donors_y4':[no_cohort_donors_13_y4, no_cohort_donors_14_y4, np.nan, np.nan, np.nan],
              'no_donations_yr4':[no_cohort13_donations_y4, no_cohort14_donations_y4, np.nan, np.nan, np.nan],
              'amt_donated_y4':[amt_cohort13_donations_y4, amt_cohort14_donations_y4, np.nan, np.nan, np.nan],
              'no_cohort_donors_y5':[no_cohort_donors_13_y5, np.nan, np.nan, np.nan, np.nan],
              'no_donations_y5':[no_cohort13_donations_y5, np.nan, np.nan, np.nan, np.nan],
              'amt_donated_y5':[amt_cohort13_donations_y5, np.nan, np.nan, np.nan, np.nan]
             }
cohort_stats=pd.DataFrame(cohort_stats)

In [44]:
cohort_stats

,year,no_cohort_donors_y1,no_donations_y1,amt_donated_y1,no_cohort_donors_y2,no_donations_y2,amt_donated_y2,no_cohort_donors_y3,no_donations_y3,amt_donated_y3,no_cohort_donors_y4,no_donations_yr4,amt_donated_y4,no_cohort_donors_y5,no_donations_y5,amt_donated_y5
0,2013,320102,573983,30428184.74,62142.0,285259.0,15286871.11,42240.0,184148.0,12595399.86,32642.0,152544.0,11403685.98,26933.0,160109.0,11159399.13
1,2014,320675,461349,26174346.80,48667.0,131028.0,7745897.26,31525.0,89558.0,6437708.77,24290.0,86127.0,5818855.02,NaN,NaN,NaN
2,2015,355141,468186,30147004.32,46078.0,112446.0,8280549.87,31844.0,98312.0,7444163.63,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,445598,602717,36530214.52,56538.0,177433.0,10475760.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017,434994,668561,37973855.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
cohort_stats.head()

,year,no_cohort_donors_y1,no_donations_y1,amt_donated_y1,no_cohort_donors_y2,no_donations_y2,amt_donated_y2,no_cohort_donors_y3,no_donations_y3,amt_donated_y3,no_cohort_donors_y4,no_donations_yr4,amt_donated_y4,no_cohort_donors_y5,no_donations_y5,amt_donated_y5
0,2013,320102,573983,30428184.74,62142.0,285259.0,15286871.11,42240.0,184148.0,12595399.86,32642.0,152544.0,11403685.98,26933.0,160109.0,11159399.13
1,2014,320675,461349,26174346.80,48667.0,131028.0,7745897.26,31525.0,89558.0,6437708.77,24290.0,86127.0,5818855.02,NaN,NaN,NaN
2,2015,355141,468186,30147004.32,46078.0,112446.0,8280549.87,31844.0,98312.0,7444163.63,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,445598,602717,36530214.52,56538.0,177433.0,10475760.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017,434994,668561,37973855.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
cohort_stats.to_pickle('cohort_stats.pkl')

### 5. Create giving year dataframes (yr1, yr2, etc.)

In [47]:
# create year 1 dataframe
year1 = donations_13to17[['id', 'cohort_yr', 'amount_yr1', 'count_yr1', 'amount_01_yr1', 'amount_02_yr1', 'amount_03_yr1', 'amount_04_yr1', 'amount_05_yr1', 'amount_06_yr1', 'amount_07_yr1', 'amount_08_yr1', 'amount_09_yr1', 'amount_10_yr1', 'amount_11_yr1', 'amount_12_yr1']].copy()

In [48]:
#rename columns
year1.columns=['id', 'cohort_yr', 'amount', 'count', 'jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sept', 'oct', 'nov', 'dec']

In [49]:
# create year 2 dataframe
year2 = donations_13to17[['id', 'cohort_yr', 'amount_yr2', 'count_yr2', 'amount_01_yr2', 'amount_02_yr2', 'amount_03_yr2', 'amount_04_yr2', 'amount_05_yr2', 'amount_06_yr2', 'amount_07_yr2', 'amount_08_yr2', 'amount_09_yr2', 'amount_10_yr2', 'amount_11_yr2', 'amount_12_yr2']].copy()

In [50]:
#rename columns
year2.columns=['id', 'cohort_yr', 'amount', 'count', 'jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sept', 'oct', 'nov', 'dec']

In [51]:
# create year 3 dataframe
year3 = donations_13to17[['id', 'cohort_yr', 'amount_yr3', 'count_yr3', 'amount_01_yr3', 'amount_02_yr3', 'amount_03_yr3', 'amount_04_yr3', 'amount_05_yr3', 'amount_06_yr3', 'amount_07_yr3', 'amount_08_yr3', 'amount_09_yr3', 'amount_10_yr3', 'amount_11_yr3', 'amount_12_yr3']].copy()

In [52]:
#rename columns
year3.columns=['id', 'cohort_yr', 'amount', 'count', 'jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sept', 'oct', 'nov', 'dec']

In [53]:
# create year 4 dataframe
year4 = donations_13to17[['id', 'cohort_yr', 'amount_yr4', 'count_yr4', 'amount_01_yr4', 'amount_02_yr4', 'amount_03_yr4', 'amount_04_yr4', 'amount_05_yr4', 'amount_06_yr4', 'amount_07_yr4', 'amount_08_yr4', 'amount_09_yr4', 'amount_10_yr4', 'amount_11_yr4', 'amount_12_yr4']].copy()

In [54]:
#rename columns
year4.columns=['id', 'cohort_yr', 'amount', 'count', 'jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sept', 'oct', 'nov', 'dec']

In [55]:
# create year 5 dataframe
year5 = donations_13to17[['id', 'cohort_yr', 'amount_yr5', 'count_yr5', 'amount_01_yr5', 'amount_02_yr5', 'amount_03_yr5', 'amount_04_yr5', 'amount_05_yr5', 'amount_06_yr5', 'amount_07_yr5', 'amount_08_yr5', 'amount_09_yr5', 'amount_10_yr5', 'amount_11_yr5', 'amount_12_yr5']].copy()

In [56]:
#rename columns
year5.columns=['id', 'cohort_yr', 'amount', 'count', 'jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sept', 'oct', 'nov', 'dec']

In [57]:
year1.to_pickle('year1.pkl')
year2.to_pickle('year2.pkl')
year3.to_pickle('year3.pkl')
year4.to_pickle('year4.pkl')
year5.to_pickle('year5.pkl')

In [58]:
year1.head()

,id,cohort_yr,amount,count,jan,feb,mar,apr,may,jun,jul,aug,sept,oct,nov,dec
0,1f4b5b6e68445c6c4a0509b3aca93f38,cohort15,18211.38,42.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2400.0,200.0,15611.38
1,4aaab6d244bf3599682239ed5591af8a,cohort16,25.00,1.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.00
2,0b0765dc9c759adc48a07688ba25e94e,cohort15,20.00,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.00
3,377944ad61f72d800b25ec1862aec363,cohort16,25.00,1.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
4,6d5b22d39e68c656071a842732c63a0c,cohort15,70.00,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70.0,0.0,0.00

### 6. Create yearly_stats dataframe PICK UP HERE

In [ ]:
yearly_stats={'year':[2013, 2014, 2015, 2016, 2017],
              'no_donors':[no_donors_13, no_donors_14, no_donors_15, no_donors_16, no_donors_17],
              'no_new_donors':[no_new_donors_13, no_new_donors_14, no_new_donors_15, no_new_donors_16, no_new_donors_17],
              'no_repeat_donors':[no_repeat_donors_13, no_repeat_donors_14, no_repeat_donors_15, no_repeat_donors_16, no_repeat_donors_17],
              'no_donors_lapsed':[np.nan, no_donors_lapsed_14, no_donors_lapsed_15, no_donors_lapsed_16, no_donors_lapsed_17],
              'retention_rate':[np.nan, retention_rate_14, retention_rate_15, retention_rate_16, retention_rate_17],
              'amt_donated':[amt_donated_13, amt_donated_14, amt_donated_15, amt_donated_16, amt_donated_17],
              'no_donations':[no_donations_13, no_donations_14, no_donations_15, no_donations_16, no_donations_17],
              'avg_amt_per_donor':[avg_amt_per_donor_13, avg_amt_per_donor_14, avg_amt_per_donor_15, avg_amt_per_donor_16, avg_amt_per_donor_17],
              'max_amt_by_single_donor':[max_amt_by_single_donor_13, max_amt_by_single_donor_14, max_amt_by_single_donor_15, max_amt_by_single_donor_16, max_amt_by_single_donor_17]
             }
cohort_stats=pd.DataFrame(cohort_stats)

In [ ]:
# number of donors per year (regardless of whether donor is new or old)
no_donors_13 = donations_13to17.query('amount_2013 > 0').count()['id']
no_donors_14 = donations_13to17.query('amount_2014 > 0').count()['id']
no_donors_15 = donations_13to17.query('amount_2015 > 0').count()['id']
no_donors_16 = donations_13to17.query('amount_2016 > 0').count()['id']
no_donors_17 = donations_13to17.query('amount_2017 > 0').count()['id']

In [ ]:
# number of repeat/returning donors
no_repeat_donors_13 = no_donors_13-no_new_donors_13
no_repeat_donors_14 = no_donors_14-no_new_donors_14
no_repeat_donors_15 = no_donors_15-no_new_donors_15
no_repeat_donors_16 = no_donors_16-no_new_donors_16
no_repeat_donors_17 = no_donors_17-no_new_donors_17

In [ ]:
# number of new donors that year / number of donors per cohort class
no_new_donors_13 = cohort13['id'].count() 
no_new_donors_14 = cohort14['id'].count() 
no_new_donors_15 = cohort15['id'].count() 
no_new_donors_16 = cohort16['id'].count() 
no_new_donors_17 = cohort17['id'].count()

In [ ]:
# number of repeat/returning donors
#ano_repeat_donors_13 = cohort13.query('amount_2013 > 0 & ).count()['id']
ano_repeat_donors_14 = cohort13.query(('amount_2013 > 0') and ('amount_2014 > 0')).count()['id']
#ano_repeat_donors_15 = cohort15.query('amount_2013 > 0 or amount_2014 > 0 & amount_2015 > 0')
#no_repeat_donors_16 = no_donors_16-no_new_donors_16
#no_repeat_donors_17 = no_donors_17-no_new_donors_17

In [ ]:
cohort14.query('amount_2014 > 0')

In [ ]:
print(no_repeat_donors_14)
print(ano_repeat_donors_14)

In [ ]:
#n/a not enough data no_donors_lapsed_13 = len(cohort14.query('lapsed_amount_2015 > 0'))
no_donors_lapsed_14 = len(cohort13.query('lapsed_amount_2014 > 0'))
no_donors_lapsed_15 = len(cohort14.query('lapsed_amount_2015 > 0'))
no_donors_lapsed_16 = len(cohort15.query('lapsed_amount_2016 > 0'))
no_donors_lapsed_17 = len(cohort16.query('lapsed_amount_2017 > 0'))

In [ ]:
#n/a not enough data  retention_rate_13 = no_repeat_donors_13/(no_repeat_donors_13+no_donors_lapsed_13)
retention_rate_14 = no_repeat_donors_14/(no_repeat_donors_14+no_donors_lapsed_14)
retention_rate_15 = no_repeat_donors_15/(no_repeat_donors_15+no_donors_lapsed_15)
retention_rate_16 = no_repeat_donors_16/(no_repeat_donors_16+no_donors_lapsed_16)
retention_rate_17 = no_repeat_donors_17/(no_repeat_donors_17+no_donors_lapsed_17)

In [ ]:
amt_donated_13 = donations['amount_2013'].sum()
amt_donated_14 = donations['amount_2014'].sum()
amt_donated_15 = donations['amount_2015'].sum()
amt_donated_16 = donations['amount_2016'].sum()
amt_donated_17 = donations['amount_2017'].sum()

In [ ]:
no_donations_13 = donations['count_2013'].sum()
no_donations_14 = donations['count_2014'].sum()
no_donations_15 = donations['count_2015'].sum()
no_donations_16 = donations['count_2016'].sum()
no_donations_17 = donations['count_2017'].sum()

In [ ]:
avg_amt_per_donor_13 = amt_donated_13/no_donors_13
avg_amt_per_donor_14 = amt_donated_14/no_donors_14
avg_amt_per_donor_15 = amt_donated_15/no_donors_15
avg_amt_per_donor_16 = amt_donated_16/no_donors_16
avg_amt_per_donor_17 = amt_donated_17/no_donors_17

In [ ]:
max_amt_by_single_donor_13 = donations['amount_2013'].max()
max_amt_by_single_donor_14 = donations['amount_2014'].max()
max_amt_by_single_donor_15 = donations['amount_2015'].max()
max_amt_by_single_donor_16 = donations['amount_2016'].max()
max_amt_by_single_donor_17 = donations['amount_2017'].max()

#### 2. Overview

#### 2a. One-time vs. repeat donors

In [ ]:
onetime_donors = donations[(donations['cohort_yr'] != 'cohort12_assumed') & (donations['total_giving_years'] == 1) ]

In [ ]:
repeat_donors = donations[(donations['cohort_yr'] != 'cohort12_assumed') & (donations['total_giving_years'] > 1) ]

In [ ]:
#overview stats (2013-2017)
no_donors = donations.query('cohort_yr != "cohort12_assumed"').count()['id']
no_onetime_donors = len(onetime_donors.id.unique())
no_repeat_donors = len(repeat_donors.id.unique())
perc_onetime_donors= no_onetime_donors/no_donors
perc_repeat_donors = no_repeat_donors/no_donors
#retention_rate =

amt_donated=cohort_stats['amt_donated'].sum()

no_donations=cohort_stats['no_donations'].sum()
avg_amt_per_donor=amt_donated/no_donations
max_amt_by_single_donor=donations['amount_total'].max()

In [ ]:
print(f'One-time donors')
print(f'Count: ', f'{onetime_donors.id.count():,.0f}')
print(f'% total count: ', f'{onetime_donors.id.count()/no_donors:.2%}')
print(f'Amount donated: ', f'$', f'{onetime_donors.amount_total.sum():,.0f}')
print(f'% total amount: ', f'{onetime_donors.amount_total.sum()/amt_donated:.2%}')

In [ ]:
print(f'Repeat donors')
print(f'Count: ', f'{repeat_donors.id.count():,.0f}')
print(f'% total count: ', f'{repeat_donors.id.count()/no_donors:.2%}')
print(f'Amount donated: ', f'$', f'{repeat_donors.amount_total.sum():,.0f}')
print(f'% total amount: ', f'{repeat_donors.amount_total.sum()/amt_donated:.2%}')

#### 2b. Overview overall 2013-2017

In [ ]:
# 1. Overview stats - 2013-2017
print(f'Overview overall 2013-2017')
print(f'# donors:', f'{no_donors:,}')
print(f'# one-time donors:', f'{no_onetime_donors:,}')
print(f'% one-time donors:', f'{perc_onetime_donors:.0%}')
print(f'# repeat donors:', f'{no_repeat_donors:,}')
print(f'% repeat donors:', f'{perc_repeat_donors:.0%}')
print(f'$ donated:', f'$', f"{amt_donated:,.2f}")
print(f'# donations:', f'{no_donations:,}')
print(f'Average $ per donor:', f'$', f'{avg_amt_per_donor:,.2f}')
print(f'Max $ by single donor:', f'$', f'{max_amt_by_single_donor:,.2f}')

#### 2c. Overview by year

In [ ]:
# 2a. By year - 2013
print(f'Year 1 - 2013')
print(f'# donors:', f'{no_donors_13:,}')
print(f'# new donors:', f'{no_new_donors_13:,}')
print(f'# repeat donors:', f'{no_repeat_donors_13:,}')
print(f'# donors lapsed:', f'n/a not enough data')
print(f'Retention rate:', f'n/a not enough data')

print(f'$ donated:', f'$', f"{amt_donated_13:,.0f}")
print(f'# donations:', f'{no_donations_13:,}')
print(f'Average $ per donor:', f'$', f'{avg_amt_per_donor_13:,.0f}')
print(f'Max $ by single donor:', f'$', f'{max_amt_by_single_donor_13:,.0f}')

In [ ]:
#2b. By year - 2014
print(f'Year 2 - 2014')
print(f'# donors:', f'{no_donors_14:,}')
print(f'# new donors:', f'{no_new_donors_14:,}')
print(f'# repeat donors:', f'{no_repeat_donors_14:,}')
print(f'# donors lapsed:', f'{no_donors_lapsed_14:,}')
print(f'Retention rate:', f'{no_repeat_donors_14/no_donors_14:.2%}')

print(f'$ donated:', f'$', f"{amt_donated_14:,.0f}")
print(f'# donations:', f'{no_donations_14:,}')
print(f'Average $ per donor:', f'$', f'{avg_amt_per_donor_14:,.0f}')
print(f'Max $ by single donor:', f'$', f'{max_amt_by_single_donor_14:,.0f}')

In [ ]:
#2c. By year - 2015
print(f'Year 3 - 2015')
print(f'# donors:', f'{no_donors_15:,}')
print(f'# new donors:', f'{no_new_donors_15:,}')
print(f'# repeat donors:', f'{no_repeat_donors_15:,}')
print(f'# donors lapsed:', f'{no_donors_lapsed_15:,}')
print(f'Retention rate:', f'{no_repeat_donors_15/no_donors_15:.2%}')

print(f'$ donated:', f'$', f"{amt_donated_15:,.0f}")
print(f'# donations:', f'{no_donations_15:,}')
print(f'Average $ per donor:', f'$', f'{avg_amt_per_donor_15:,.0f}')
print(f'Max $ by single donor:', f'$', f'{max_amt_by_single_donor_15:,.0f}')

In [ ]:
#2d. By year - 2016')
print(f'Year 4 - 2016')
print(f'# donors:', f'{no_donors_16:,}')
print(f'# new donors:', f'{no_new_donors_16:,}')
print(f'# repeat donors:', f'{no_repeat_donors_16:,}')
print(f'# donors lapsed:', f'{no_donors_lapsed_16:,}')
print(f'Retention rate:', f'{no_repeat_donors_16/no_donors_16:.2%}')

print(f'$ donated:', f'$', f"{amt_donated_16:,.0f}")
print(f'# donations:', f'{no_donations_16:,}')
print(f'Average $ per donor:', f'$', f'{avg_amt_per_donor_16:,.0f}')
print(f'Max $ by single donor:', f'$', f'{max_amt_by_single_donor_16:,.0f}')

In [ ]:
#2e. By year - 2017
print(f'Year 5 - 2017')
print(f'# donors:', f'{no_donors_17:,}')
print(f'# new donors:', f'{no_new_donors_17:,}')
print(f'# repeat donors:', f'{no_repeat_donors_17:,}')
print(f'# donors lapsed:', f'{no_donors_lapsed_17:,}')
print(f'Retention rate:', f'{no_repeat_donors_17/no_donors_17:.2%}')

print(f'$ donated:', f'$', f"{amt_donated_17:,.0f}")
print(f'# donations:', f'{no_donations_17:,}')
print(f'Average $ per donor:', f'$', f'{avg_amt_per_donor_17:,.0f}')
print(f'Max $ by single donor:', f'$', f'{max_amt_by_single_donor_17:,.0f}')

In [ ]:
#info on largest donor overall
donations[donations['amount_total'] == donations['amount_total'].max()]
# or donations.loc[donations['amount_total'].idxmax()]

In [ ]:
plt.hist('count_2017', data=cohort17, log=True);

In [ ]:
#cohort stats
data=cohort13
y1_donor_count=data.query('amount_first_year > 0').count()['amount_first_year']
y2_donor_count=data.query('amount_second_year > 0').count()['amount_second_year']
y3_donor_count=data.query('amount_third_year > 0').count()['amount_third_year']
y4_donor_count=data.query('amount_fourth_year > 0').count()['amount_fourth_year']
y5_donor_count=data.query('amount_fifth_year > 0').count()['amount_fifth_year']

y1_donations_dollars=data.amount_first_year.sum()/100
y2_donations_dollars=data.amount_second_year.sum()/100
y3_donations_dollars=data.amount_third_year.sum()/100
y4_donations_dollars=data.amount_fourth_year.sum()/100
y5_donations_dollars=data.amount_fifth_year.sum()/100

y1_donations_count=data.count_first_year.sum()
y2_donations_count=data.count_second_year.sum()
y3_donations_count=data.count_third_year.sum()
y4_donations_count=data.count_fourth_year.sum()
y5_donations_count=data.count_fifth_year.sum()

print(f'*first year data*')
print(f'cohort size:', y1_donor_count)
print(f'total $ donated:', y1_donations_dollars)
print(f'total # donations:', y1_donations_count)
print(f'average # donations per donor:', y1_donations_count/y1_donor_count)
print(f'average $ donated per donor', y1_donations_dollars/y1_donor_count)
print(f'max donation:',data.amount_first_year.max()/100)

print(f'*second year data*')
print(f'cohort size:', y2_donor_count)
print(f'total $ donated:', y2_donations_dollars)
print(f'total # donations:', y2_donations_count)
print(f'average # donations per donor:', y2_donations_count/y2_donor_count)
print(f'average $ donated per donor', y2_donations_dollars/y2_donor_count)
print(f'max donation:',data.amount_second_year.max()/100)

In [ ]:
#cohort stats
data=cohort13
print(f'first year data')
print(f'cohort size:', data.id.count())
print(f'total $ donated in first year:', data.amount_first_year.sum())
print(f'total # donations in first year', data.amount_second_year.sum())
print(f'average # donations per donor in first year:', data.count_first_year.sum()/data.id.count())
print(f'average $ donated per donor in first year', data.amount_first_year.sum()/data.id.count())