In [4]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style("white")
%matplotlib inline

In [5]:
donations_13to17=pd.read_pickle('donations_13to17.pkl')

In [6]:
donations_13to17.head()

,id,first_gift_year,lapsed_count,recovered_count,max_consec_giving_years,total_giving_years,count_2013,count_2014,count_2015,count_2016,...,behavior_2016,behavior_2017,gainloss_2014,gainloss_2015,gainloss_2016,gainloss_2017,gainloss_2014_amt,gainloss_2015_amt,gainloss_2016_amt,gainloss_2017_amt
0,1f4b5b6e68445c6c4a0509b3aca93f38,2015-01-01,4,4,4,4,0,0,42,64,...,upgrade,upgrade,none,gain,gain,gain,0,18211.38,21873.77,22559.83
1,4aaab6d244bf3599682239ed5591af8a,2016-01-01,2,1,1,1,0,0,0,1,...,new,lapse_new,none,none,gain,loss,0,0,25.0,-25.0
2,0b0765dc9c759adc48a07688ba25e94e,2015-01-01,3,2,2,2,0,0,2,2,...,upgrade,lapse_repeat,none,gain,gain,loss,0,20.0,20.0,-40.0
3,377944ad61f72d800b25ec1862aec363,2016-01-01,2,1,1,1,0,0,0,1,...,new,lapse_new,none,none,gain,loss,0,0,25.0,-25.0
4,6d5b22d39e68c656071a842732c63a0c,2015-01-01,4,3,2,3,0,0,1,1,...,downgrade,lapse_repeat,none,gain,loss,loss,0,70.0,-45.0,-25.0

In [ ]:
#donations_13to17.quantile([.1, .25, .5, .75], axis = 0)

In [ ]:
d13=donations_13to17.query('amount_2013 > 0')
d13.head()
#d13.describe().apply(lambda x: format(x, '.0f'))

In [ ]:
removetop10in13['amount_2013'].quantile([.1, .25, .5, .75]).apply(lambda x: format(x, '.2f'))

In [ ]:
fig = px.bar(donations_13to17, x='gainloss_2017', y='gainloss_2017_amt', color='behavior_2017', title="Long-Form Input")
fig.show()

In [ ]:
removetop10in13.amount_2013.describe().apply(lambda x: format(x, '.0f'))

In [ ]:
donations_13to17['amount_total'].describe().apply(lambda x: format(x, '.0f'))

In [ ]:
donations_13to17.amount_2013.hist()

In [ ]:
df = donations_13to17.query('amount_2013 > 0 & amount_2013 < 1000')
fig = px.histogram(df, x="amount_2013", nbins=10, log_y=True)
fig.show()

In [ ]:
removetop10in13=donations_13to17.query('amount_2013 < 40000')

In [ ]:
donations_13to17.amount_2013.nlargest(n=50)

In [ ]:
donations_13to17.amount_2014.nlargest(n=50)

In [ ]:
over100013=donations_13to17.query('amount_2013 >= 1000').count()['id']
over100014=donations_13to17.query('amount_2014 >= 1000').count()['id']
over100015=donations_13to17.query('amount_2015 >= 1000').count()['id']
over100016=donations_13to17.query('amount_2016 >= 1000').count()['id']
over100017=donations_13to17.query('amount_2017 >= 1000').count()['id']
total13=donations_13to17.query('amount_2013 > 0').count()['id']
total14=donations_13to17.query('amount_2014 > 0').count()['id']
total15=donations_13to17.query('amount_2015 > 0').count()['id']
total16=donations_13to17.query('amount_2016 > 0').count()['id']
total17=donations_13to17.query('amount_2017 > 0').count()['id']


print(over100013)
print(over100014)
print(over100015)
print(over100016)
print(over100017)

print(over100013/total13*100)
print(over100014/total14*100)
print(over100015/total15*100)
print(over100016/total16*100)
print(over100017/total17*100)

In [ ]:
under100013=donations_13to17.query('amount_2013 > 0 & amount_2013 < 1000').count()['id']
under100014=donations_13to17.query('amount_2014 > 0 & amount_2014 < 1000').count()['id']
under100015=donations_13to17.query('amount_2015 > 0 & amount_2015 < 1000').count()['id']
under100016=donations_13to17.query('amount_2016 > 0 & amount_2016 < 1000').count()['id']
under100017=donations_13to17.query('amount_2017 > 0 & amount_2017 < 1000').count()['id']

print(under100013)
print(under100014)
print(under100015)
print(under100016)
print(under100017)

In [ ]:
over1000removed13=donations_13to17.query('amount_2013 > 0 & amount_2013 < 1000')
over1000removed13['amount_2013'].quantile([.1, .25, .5, .75]).apply(lambda x: format(x, '.2f'))

In [ ]:
over1000removed13.head()

In [ ]:
d17=donations_13to17.query('amount_2017 > 0')
d17

In [ ]:
d13['amount_2013'].describe()

In [ ]:
d17['amount_2017'].quantile([.1, .25, .5, .75])

In [ ]:
over1000removed13['amount_2013'].quantile([.1, .25, .5, .75])

In [ ]:
fig = px.bar(d13, x='year', y='pop')
fig.show()

In [ ]:
fig = px.box(over1000removed13, x='years_donated',y="amount_2013")
fig.show()

In [ ]:
pd.qcut(d13.amount_2013,4)