In [1]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import re

import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style("white")
%matplotlib inline

In [2]:
new_donations=pd.read_pickle('new_donations.pkl')

In [3]:
fg=new_donations.query('first_gift != 0')

In [4]:
fg

,amount_2013,amount_2014,amount_2015,amount_2016,amount_2017,amount_yr0,amount_yr1,amount_yr2,amount_yr3,amount_yr4,...,recovered_multi_year,inconsistent_multi_year,recovered_key_multi_year,lapsed_after_first,lapsed_after_first_long,lapsed_after_second,lapsed_multi_year,lapsed_long_multi_year,lapsed_key_multi_year,lapsed_long
31,0,0,0,0,0,2098,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,0,0,0,0,0,5000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,0,0,0,0,0,5000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35,0,0,0,0,0,6500,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,0,0,0,0,0,2500,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024454,0,0,0,0,0,3000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2024455,0,0,0,0,0,7500,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2024483,0,0,0,0,0,10000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2024484,0,0,0,0,0,5000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2024553,0,0,0,0,0,20000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
fg.query('amount_2015 != 0')

,amount_2013,amount_2014,amount_2015,amount_2016,amount_2017,amount_yr0,amount_yr1,amount_yr2,amount_yr3,amount_yr4,...,recovered_multi_year,inconsistent_multi_year,recovered_key_multi_year,lapsed_after_first,lapsed_after_first_long,lapsed_after_second,lapsed_multi_year,lapsed_long_multi_year,lapsed_key_multi_year,lapsed_long
86,0,0,2500,0,0,2500,0,0,6500,0,...,0,0,0,0,0,0,0,0,0,0
94,0,0,1500,0,0,1500,0,0,2500,0,...,0,0,0,0,0,0,0,0,0,0
103,0,0,1500,0,0,1500,0,0,7100,0,...,0,0,0,0,0,0,0,0,0,0
491,0,5000,5000,0,0,5000,5000,0,0,10000,...,0,0,0,0,0,0,0,0,0,0
631,0,0,43333,0,0,43333,0,0,42628,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1935103,0,0,5000,0,0,5000,0,0,21452,0,...,0,0,0,0,0,0,0,0,0,0
1938554,0,0,5000,0,0,5000,0,0,2500,0,...,0,0,0,0,0,0,0,0,0,0
1941590,0,0,9900,0,0,9900,0,0,10000,0,...,0,0,0,0,0,0,0,0,0,0
1963724,0,0,20000,0,0,20000,0,0,10000,0,...,0,0,0,0,0,0,0,0,0,0
1984716,0,0,2500,0,0,2500,0,0,2500,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
fg13.query('amount_2015 != 0')

,amount_2013,amount_2014,amount_2015,amount_2016,amount_2017,amount_yr0,amount_yr1,amount_yr2,amount_yr3,amount_yr4,...,recovered_multi_year,inconsistent_multi_year,recovered_key_multi_year,lapsed_after_first,lapsed_after_first_long,lapsed_after_second,lapsed_multi_year,lapsed_long_multi_year,lapsed_key_multi_year,lapsed_long
1276,63881,20500,17600,0,0,63881,20500,17600,0,0,...,0,0,0,0,0,0,0,0,0,0
1435,7350,2500,2000,0,0,7350,2500,2000,0,0,...,0,0,0,0,0,0,0,0,0,0
1436,15000,0,30000,0,0,15000,0,30000,0,0,...,0,0,0,0,0,0,0,0,0,0
2919,34129,9335,2800,0,0,34129,9335,2800,0,0,...,0,0,0,0,0,0,0,0,0,0
4027,1250852,714957,93149,0,0,1250852,714957,93149,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1365007,2500,8000,124890,0,0,2500,8000,124890,0,0,...,0,0,0,0,0,0,0,0,0,0
1415989,1000,2500,2500,0,0,1000,2500,2500,0,0,...,0,0,0,0,0,0,0,0,0,0
1429063,7500,0,2500,0,0,7500,0,2500,0,0,...,0,0,0,0,0,0,0,0,0,0
1502561,20000,0,22700,0,0,20000,0,22700,0,0,...,0,0,0,0,0,0,0,0,0,0
1513706,5000,0,5000,0,0,5000,0,5000,0,0,...,0,0,0,0,0,0,0,0,0,0